<html>
    <head>
        <title>Failed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            .box {
                margin: 10% auto 0;
                text-align: center;
                width: 100%;
                min-width: 100px;
                min-height: 100px;
            }
            .inner-box { margin-top: 15%;color:#f52;}
        </style>
    </head>
    <body>
        <div class="box">
            <div class="inner-box"><img src="{{ url_for('static', filename='images/failed.jpg') }}" /></div>
        </div>
    </body>
</html>