<html>
    <head>
        <title>Confirmation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <style>
            body {
                background-color: #DDD;
                font-family: 'globe';
                color:#444;
                text-align: center;
            }

            @font-face {
                font-family: globe;
                src: url("{{ url_for('static', filename='fonts/FSElliotProRegular.eot') }}");
                src: url("{{ url_for('static', filename='fonts/FSElliotProRegular.eot?#iefix') }}") format('embedded-opentype'), url("{{ url_for('static', filename='fonts/FSElliotProRegular.woff') }}") format('woff'), url("{{ url_for('static', filename='fonts/FSElliotProRegular.ttf') }}") format('truetype'), url("{{ url_for('static', filename='fonts/FSElliotProRegular.svg#icon') }}") format('svg');
            }

            .header img{
                width:100px;
                height:auto;
                margin: 0 auto;
                display: block;
            }

            .container {
                width: 100%;
            }

            .content {
                width: 300px;
                margin: 50px auto;
                background-color: #fff;
                padding: 1em;
                box-sizing:border-box;
                -ms-box-sizing: border-box;
                -webkit-box-shadow: 0px 1px 3px 0px #A1A1A1;
                -moz-box-shadow: 0px 1px 3px 0px #A1A1A1;
                box-shadow: 0px 1px 3px 0px #A1A1A1;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="container">
                <div class="content">
                    <div class="header">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" />
                    </div>
                    {% if not transaction %}
                        <h4>Enter Reference Code</h4>
                        <form class="form form-horizontal" method="get" action="{{ url_for('.tickets_validation_page_promos') }}">
                            <input type="text" id="id_reference_code" name="reference_code" value="{{ reference_code }}" />
                            <input type="submit" id="id_validate_btn" name="validate_btn" value="Verify" />
                        </form>
                        <p class="content-body">{{ message }}</p>
                    {% else %}
                        <h4>{{ transaction.ticket.code }}</h4>

                        {% if transaction.is_verified and not transaction.is_claimed %}
                            <form class="form form-horizontal" method="get" action="{{ url_for('.tickets_validation_page_promos') }}">
                                <input type="hidden" id="id_reference_code" name="reference_code" value="{{ reference_code }}" />
                                <input type="submit" id="id_validate_btn" name="validate_btn" value="Claim" />
                            </form>
                        {% endif %}

                        <p class="content-body">{{ message }}</p>
                    {% endif %}

                    <a href="{{ url_for('.tickets_validation_page_promos') }}">Home</a>
                </div>
            </div>
        </div>
    </body>
</html>