<html>
    <head>
        <title>Confirmation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <style>
            body {
                background-color: #DDD;
                font-family: 'globe';
                color:#444;
                text-align: center;
            }

            @font-face {
                font-family: globe;
                src: url("{{ url_for('static', filename='fonts/FSElliotProRegular.eot') }}");
                src: url("{{ url_for('static', filename='fonts/FSElliotProRegular.eot?#iefix') }}") format('embedded-opentype'), url("{{ url_for('static', filename='fonts/FSElliotProRegular.woff') }}") format('woff'), url("{{ url_for('static', filename='fonts/FSElliotProRegular.ttf') }}") format('truetype'), url("{{ url_for('static', filename='fonts/FSElliotProRegular.svg#icon') }}") format('svg');
            }

            .header img{
                width:100px;
                height:auto;
                margin: 0 auto;
                display: block;
            }

            .container {
                width: 100%;
            }

            .content {
                width: 300px;
                margin: 50px auto;
                background-color: #fff;
                padding: 1em;
                box-sizing:border-box;
                -ms-box-sizing: border-box;
                -webkit-box-shadow: 0px 1px 3px 0px #A1A1A1;
                -moz-box-shadow: 0px 1px 3px 0px #A1A1A1;
                box-shadow: 0px 1px 3px 0px #A1A1A1;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="container">
                {% if transaction %}
                    <div class="content">
                        <div class="header">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" />
                        </div>
                        <h4>Thank You!</h4>
                        <p class="content-body">
                            {% if transaction.ticket %}
                                {{ transaction.ticket.extra['movie_title'] }}<br />
                                {{ transaction.ticket.extra['theater_name'] }} {{ transaction.ticket.extra['cinema_name'] }}<br />
                                {{ transaction.ticket.extra['show_datetime'] }}<br />
                                {{ transaction.ticket.extra['seats'] }}
                            {% else %}
                                <p class="content-body">Transaction Process Done.</p>
                            {% endif %}
                        </p>
                    </div>
                {% else %}
                    <div class="content">
                        <div class="header">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" />
                        </div>
                        <h4>Thank You!</h4>
                        <p class="content-body">Transaction Process Done.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>