<!DOCTYPE html>
<html>
<head>
<title>Please wait, initiating payment...</title>
</head>

<body>
  <form id="initiateForm"
        method="{{ payment_info.form_method }}"
        action="{{ payment_info.form_target }}">
    <input type="hidden" name="{{ payment_info.reference_parameter_key }}"
           value="{{ reference }}" />
    {% for field in payment_info.form_parameters %}<input type="hidden" name="{{ field }}" value="{{ payment_info.form_parameters[field] }}" />
    {% endfor %}
  </form>
</body>
<script type="text/javascript">
  document.getElementById("initiateForm").submit();
</script>
</html>
