<!DOCTYPE html>
<html>
<head>
<title>Please wait, initiating payment...</title>
<style>
	html, body {height:100%;}
	html {display:table; width:100%;}
	body {display:table-cell; text-align:center; vertical-align:middle;}
	table td { border: none; }
</style>
</head>
		<table>
    	<tr><td>Name: </td><td>{{ payment_info.form_parameters['UserName'] }}"</td></tr>
    	<tr><td>Email Address: </td><td>{{ payment_info.form_parameters['UserEmail'] }}</td></tr>
    	<tr><td>Contact Number</td><td>{{ payment_info.form_parameters['UserContact'] }}</td></tr>
		<tr><td>Total Amount</td><td>{{ payment_info.form_parameters['Amount'] }}</td></tr>
    	<tr><td>Currency</td><td>{{ payment_info.form_parameters['Currency'] }}</td></tr>
    	<tr><td>Description</td><td>{{ payment_info.form_parameters['ProdDesc'] }}</td></tr>
		<tr><td>Reference Number</td><td>{{ payment_info.form_parameters['RefNo'] }}" /></td></tr>
		</td>

<body>
  <form id="ePayment" name="ePayment"
        method="{{ payment_info.form_method }}"
        action="{{ payment_info.form_target }}">

    {% for field in payment_info.form_parameters %}<input type="hidden" name="{{ field }}" value="{{ payment_info.form_parameters[field] }}" />
    {% endfor %}
    <input type="submit" value="Proceed with Payment" name="Submit">
  </form>
</body>
</html>
