<!DOCTYPE html>
<html>
    <head>
        <title>Please wait, initiating payment...</title>
    </head>
    <body>
        <form id="initiateForm" method="{{ payment_info.form_method }}"
                action="{{ payment_info.form_target }}">
            <!-- <input type="hidden" name="paymentrequest" value="{{ paymentrequest }}" /> -->
        </form>
    </body>
    <script type="text/javascript">
        document.getElementById("initiateForm").submit();
    </script>
</html>
