<html>
    <head>
        <title>GMovies | Password Reset</title>
        <style>
            body {
                background-color: #DDD;
                font-family: 'globe';
                color: #444;
                text-align: center;
            }

            @font-face {
                font-family: globe;
                src: url("{{ url_for('static', filename='fonts/FSElliotProRegular.eot') }}");
                src: url("{{ url_for('static', filename='fonts/FSElliotProRegular.eot?#iefix') }}") format('embedded-opentype'), url("{{ url_for('static', filename='fonts/FSElliotProRegular.woff') }}") format('woff'), url("{{ url_for('static', filename='fonts/FSElliotProRegular.ttf') }}") format('truetype'), url("{{ url_for('static', filename='fonts/FSElliotProRegular.svg#icon') }}") format('svg');
            }

            .header img{
                width: 100px;
                height: auto;
                margin: 0 auto;
                display: block;
            }

            .container {
                width: 100%;
            }

            .content {
                width: 320px;
                margin: 50px auto;
                background-color: #efefef;
                padding: 1em;
                box-sizing: border-box;
                -ms-box-sizing: border-box;

                -webkit-box-shadow: 0px 1px 3px 0px #A1A1A1;
                -moz-box-shadow: 0px 1px 3px 0px #A1A1A1;
                box-shadow: 0px 1px 3px 0px #A1A1A1;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="container">
                <div class="content">
                    <div class="header">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" />
                    </div>
                    <h4>Password Reset</h4>
                    <p class="content-body">
                        {{ message }}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>