{% extends "base.html" %}
{% block title %}Assets: Blocked Screening{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h2>Assets: Blocked Screening</h2>
        <div class="btn-group">
            <a class="btn btn-small" href="{{ url_for('.assets_promos_new') }}">Add Blocked Screening Assets</a>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        {% if blocked_screening_assets %}
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image URL</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assets in blocked_screening_assets %}
                        <tr>
                            <td>
                                <a href="{{ url_for('.assets_promos_show', assets_id=assets.key.id()) }}">{{ assets.name }}</a>
                            </td>
                            <td>
                                <a href="{{ get_serving_url(assets.image) }}">
                                    {{ get_serving_url(assets.image) }}
                                </a>
                            </td>
                            <td>{{ assets.is_active }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No Blocked Screening Assets
        {% endif %}
    </div>
{% endblock %}