{% extends "base.html" %}
{% block title %}Assets: Coming Soon Page{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h2>Coming Soon Page Assets</h2>
        <div class="btn-group">
            <a class="btn btn-small" href="{{ url_for('.assets_coming_soon_page_upload_tab_image') }}">Upload Tab Image</a>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        <h3>Tab Images</h3>
        {% if coming_soon_tab_images %}
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Image URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tab_image in coming_soon_tab_images %}
                        <tr>
                            <td>{{ tab_image.name }}</td>
                            <td>
                                <a id="comingsoon-tab-image-{{ loop.index0 }}" name="comingsoon-tab-image-{{ loop.index0 }}"
                                        href="{{ get_serving_url(tab_image.image) }}">
                                    {{ get_serving_url(tab_image.image) }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No Coming Soon Page Assets
        {% endif %}
    </div>
{% endblock %}