{% extends "base.html" %}
{% block title %}Assets: Coming Soon Page{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h2><a href="{{ url_for('.assets_coming_soon_page') }}">Assets: Coming Soon Page</a> &gt; Upload Tab Image</h2>
    </div>
    <div id="edit_form">
        <form class="form form-horizontal" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

            {% if form.errors['generic'] %}
                <div>
                    <span class="label label-important">{{ form.errors['generic'] }}</span>
                </div>
            {% endif %}

            {{ wtf.form_errors(form, False) }}

            {{ wtf.horizontal_field(form.month) }}
            {{ wtf.horizontal_field(form.image_file) }}

            <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-primary">Upload Image</button>
            </div>
        </form>
    </div>
{% endblock %}