{% extends "base.html" %}
{% block title %}Assets: Blocked Screening New{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h2><a href="{{ url_for('.assets_promos_index') }}">Assets: Blocked Screening</a> &gt; New</h2>
    </div>
    <div id="edit_form">
        <form class="form form-horizontal" method="post"
                action="{{ url_for('.assets_promos_new') }}"
                enctype="multipart/form-data">
            {{ form.csrf_token }}

            {% if form.errors['generic'] %}
                <div>
                    <span class="label label-important">{{ form.errors['generic'] }}</span>
                </div>
            {% endif %}

            {{ wtf.form_errors(form, False) }}

            {{ wtf.horizontal_field(form.name) }}
            {{ wtf.horizontal_field(form.image_file) }}
            {{ wtf.horizontal_field(form.platform) }}
            {{ wtf.horizontal_field(form.is_active) }}

            <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}