{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block head %}{{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='jquery.js') }}">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}
{% block style %}{{ super() }}
    <style type="text/css">
      .pullout-list { border-left: 1px solid #eee; padding: 1px 1.5em; background-color: white; }
      form[name='slot_delete'] { margin: 0;}
      .top-buffer { margin-top: 10px }
    </style>
    {% block extra_style %}{% endblock %}
{% endblock %}
{% block body_content %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
   
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
   
        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="brand" href="#">GMovies</a>
   
        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{{ url_for('.theater_index') }}">Theaters</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Movies<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a tabindex="-1" href="{{ url_for('.movie_index') }}">Movies</a></li>
                <li><a tabindex="-1" href="{{ url_for('.movie_title_index') }}">Movie Title Bank</a></li>
                <li><a tabindex="-1" href="{{ url_for('.movie_titles_lookup_index') }}">Orphaned Movie Titles</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li><a href="{{ url_for('.theaterorg_index') }}">Theater Organization</a></li>
            <li class="divider-vertical"></li>
            <li><a href="{{ url_for('.feed_index') }}">Feeds</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Payment Settings<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="{{ url_for('.payment_settings_index', payment_identifier='pesopay') }}">Pesopay Payment Settings</a></li>
                <li><a href="{{ url_for('.payment_settings_index', payment_identifier='paynamics') }}">Paynamics Payment Settings</a></li>
                <li><a href="{{ url_for('.payment_settings_index', payment_identifier='migs') }}">MIGS Payment Settings</a></li>
                <li><a href="{{ url_for('.payment_settings_index', payment_identifier='ipay88') }}">iPay88 Payment Settings</a></li>
                <li><a href="{{ url_for('.paymentoptions_settings_index') }}">Payment Options Settings</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a tabindex="-1" href="{{ url_for('.transactions_index') }}">GMovies App Transactions</a></li>
                <li><a tabindex="-1" href="{{ url_for('.free_tickets') }}">GMovies Free Tickets</a></li>
                <li><a tabindex="-1" href="{{ url_for('.promo_transactions_index') }}">GMovies Promo Transactions</a></li>
                <li><a tabindex="-1" href="{{ url_for('.csrc_transactions_index') }}">CSR Campaign Transactions</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li><a href="{{ url_for('.clients_index') }}">Clients</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assets<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a tabindex="-1" href="{{ url_for('.assets_coming_soon_page') }}">Coming Soon Page</a></li>
                <li><a tabindex="-1" href="{{ url_for('.assets_promos_index') }}">Blocked Screening</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a tabindex="-1" href="{{ url_for('.promo_index') }}">Promos</a></li>
                <li><a tabindex="-1" href="{{ url_for('.system_knobs') }}">System Settings</a></li>
                <li><a tabindex="-1" href="{{ url_for('.convenience_fee_settings_index') }}">Convenience Fee Settings</a></li>
                <li><a tabindex="-1" href="{{ url_for('.csrc_settings') }}">CSR Campaign Settings</a></li>
                <li><a tabindex="-1" href="{{ url_for('.services_index') }}">Services Settings</a></li>
              </ul>
            </li>
          </ul>
        </div>
   
      </div>
    </div>
  </div>

  <div class="container-fluid">
      {% block container_content %}
        Hello Index!
      {% endblock %}
  </div>
{% endblock %}
{% block bootstrap_js_bottom %}{{ super() }}
    {% block bootboxjs %}{% endblock %}
    {% block extra_js %}{% endblock %}
{% endblock %}
