{% extends "base.html" %}
{% block title %}Showing: {{ theater_name }}, Cinema {{ cinema.name }}{% endblock %}
{% block style %}{{ super() }}
<style type="text/css">
  .seatmap .controls label { font-size: 0.8em; }
  .seatmap ul li { list-style: none; }
</style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1><a href="{{ url_for('.theater_show', theater_id=theater_id) }}">{{ theater_name }}</a></h1>
      <h2>Cinema {{ cinema.name }}</h2>
      <div class="btn-group">
        <a class="btn btn-small" href="{{ url_for('.schedule_new', theater_id=theater_id, cinema=cinema.name) }}">Create New Schedule</a>
        <a class="btn btn-small" href="{{ url_for('.schedule_upload', theater_id=theater_id) }}">Upload Schedule File</a>
      </div>
    </div>
    <div class="row-fluid">
      <div id="edit_form" class="span8">
        <form class="form form-horizontal" method="post" action="{{ url_for('.cinema_update', theater_id=theater_id, cinema_name=cinema.name) }}">
          {{ form.csrf_token }}
          {{ wtf.form_errors(form, False) }}

          {{ wtf.horizontal_field(form.name) }}

          {% if cinema.feed_code %}
            <div class="control-group">
              <label class="control-label" for="feed-code">Feed Code</label>
              <div class="controls">
                <input id="feed-code" name="feed-code" type="text" disabled value="{{ cinema.feed_code }}">
              </div>
            </div>
          {% endif %}

          {% if cinema.feed_cinema_name %}
            <div class="control-group">
              <label class="control-label" for="feed-cinema-name">Feed Cinema Name</label>
              <div class="controls">
                <input id="feed-cinema-name" name="feed-cinema-name" type="text" disabled value="{{ cinema.feed_cinema_name }}">
              </div>
            </div>
          {% endif %}

          {{ wtf.horizontal_field(form.latitude) }}
          {{ wtf.horizontal_field(form.longitude) }}
          {{ wtf.horizontal_field(form.addseats) }}

          <div class="seatmap">
            {{ wtf.horizontal_field(form.seat_map) }}
          </div>

          <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      <div class="span2 pullout-list">
        <h3>Schedules</h3>
        {% if schedules %}
          <ul>
            {% for s in schedules %}
            <li><a href="{{ url_for('.schedule_show', theater_id=theater_id, schedule_id=s.key.id()) }}">{{ s.show_date }}</a>{% if has_slots_conflict( s.key.id(), theater_id )  %}<span class="label label-warning">PC</span>{% endif %}</li>
            {% endfor %}
          </ul>
        {% else %}
          <i>No Schedules</i>
        {% endif %}
      </div>
    </div>
{% endblock %}
