{% extends "base.html" %}
{% block title %}Registered API Clients{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Registered Clients</h1>
        <div class="btn-group">
          <a class="btn btn-small" href="{{ url_for('.client_new') }}">Register Client</a>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% if clients %}
    <div>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Client ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for cl in clients %}
          <tr>
            <td><a href="{{ url_for('.client_update_and_show', client_id=cl.key.id()) }}">{{ cl.key.id() }}</a></td>
            <td>{{ cl.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div>
      <i>No registered clients</i>
    </div>
    {% endif %}
{% endblock %}
