{% extends "base.html" %}
{% block title %} Unregister Client: {{ client.key.id() }} {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>Unregister {{ client.key.id() }}</h1>
    </div>
    <div class="row-fluid">
      <div id="edit_form" class="span8">
        <form class="form form-horizontal" method="delete" action="{{ url_for('.client_unregister', client_id=client.key.id()) }}">
          <p>Are you sure you want to unregister this client?</p>
          <div class="form-actions">
            <button name="action_delete" type="submit" class="btn btn-danger"><i class="icon-trash"></i> Unregister</button>
            <button name="action_cancel" type="cancel" class="btn">Cancel</button>
          </div>
        </form>
      </div>
      <div class="span2 pullout-list">
        <h3>Devices</h3>
        {% if devices %}
        <ul>
          {% for d in devices %}
          <li><a href="{{ url_for('.device_show', device_id=d.key.id()) }}">{{ d.key.id() }} ({{ d.device_class }})</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <i>None</i>
        {% endif %}
      </div>
    </div>
    <script type="text/javascript">
      $('#edit_form').on('submit', function() {
          $.ajax({
              url: "{{ url_for('.client_unregister', client_id=client.key.id()) }}",
              type: 'DELETE',
              complete: function(result) {
                  document.location.href = "{{ url_for('.clients_index') }}";
              }
          });
          return false;
      });
    </script>
{% endblock %}
