{% extends "base.html" %}
{% block title %} Create New Convenience Fee Settings {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1><a href="{{ url_for('.convenience_fee_settings_index') }}">Convenience Fee Settings</a>
      > New</h1>
    </div>

    <div class="row-fluid">
        <div id="edit_form" class="span8">
            <form class="form form-horizontal" method="post" action="{{ url_for('.convenience_fee_settings_new') }}">
                {{ form.csrf_token }}

                {% if form.errors['generic'] %}
                    <div>
                        <span class="label label-important">{{ form.errors['generic'] }}</span>
                    </div>
                {% endif %}

                {{ wtf.form_errors(form, False) }}

                {{ wtf.horizontal_field(form.theaterorgs) }}
                {{ wtf.horizontal_field(form.credit_card_convenience_fee) }}
                {{ wtf.horizontal_field(form.credit_card_convenience_fee_message) }}
                {{ wtf.horizontal_field(form.bank_payment_convenience_fee) }}
                {{ wtf.horizontal_field(form.bank_payment_convenience_fee_message) }}
                {{ wtf.horizontal_field(form.gcash_convenience_fee) }}
                {{ wtf.horizontal_field(form.gcash_convenience_fee_message) }}

                <div class="form-actions">
                    <button name="action_save" type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}