{% extends "base.html" %}
{% block title %}Convenience Fee Settings{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Convenience Fee Settings</h1>
        <div class="btn-group">
            <a class="btn btn-small" href="{{ url_for('.convenience_fee_settings_new') }}">Add Convenience Fee Settings</a>
        </div>
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% if convenience_fee_settings %}
        <div>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Theater Organization Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for settings in convenience_fee_settings %}
                        <tr>
                            <td>
                                <a href="{{ url_for('.convenience_fee_settings_update_and_show', settings_id=settings.key.urlsafe()) }}">
                                    {{ settings.key.id() }}</a>
                            </td>
                            <td>{{ settings.key.parent().get().name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div>
            <i>No convenience fee settings.</i>
        </div>
    {% endif %}
{% endblock %}