{% extends "base.html" %}
{% block title %}Convenience Fee Settings: {{ convenience_fee_settings.key.id() }}{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1><a href="{{ url_for('.convenience_fee_settings_index') }}">Convenience Fee Settings</a>
        > {{ convenience_fee_settings.key.parent().get().name }}</h1>
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="row-fluid">
        <div id="edit_form" class="span8">
            <form class="form form-horizontal" method="post" action="{{ url_for('.convenience_fee_settings_update_and_show', settings_id=convenience_fee_settings.key.urlsafe()) }}">
                {{ form.csrf_token }}

                {% if form.errors['generic'] %}
                    <div>
                        <span class="label label-important">{{ form.errors['generic'] }}</span>
                    </div>
                {% endif %}

                {{ wtf.form_errors(form, False) }}

                {{ wtf.horizontal_field(form.credit_card_convenience_fee) }}
                {{ wtf.horizontal_field(form.credit_card_convenience_fee_message) }}
                {{ wtf.horizontal_field(form.bank_payment_convenience_fee) }}
                {{ wtf.horizontal_field(form.bank_payment_convenience_fee_message) }}
                {{ wtf.horizontal_field(form.gcash_convenience_fee) }}
                {{ wtf.horizontal_field(form.gcash_convenience_fee_message) }}

                <div class="form-actions">
                    <button name="action_save" type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}