{% extends "base.html" %}
{% block title %} Show CSR Campaign Payment Transaction: {{ transaction.key.id() }} {% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>CSR Campaign Payment Transaction</h1>
        <h2>{{ transaction.key.id() }}</h2>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h3>Primary Details</h3>
        <b>ID:</b> {{ transaction.key.id() }}<br />
        <b>State:</b> {{ stringify_state(transaction.state) }}<br />
        <b>Name:</b> {{ transaction.deposit_info["first_name"] }} &nbsp; {{ transaction.deposit_info["last_name"] }}<br />
        <b>Email:</b> {{ transaction.deposit_info["email"] }}<br />
        <b>Amount Given:</b> {% if transaction.deposit_info["amount"] %}Php{% endif %} {{ transaction.deposit_info["amount"] }}<br />
        <b>Contact Number:</b> {{ transaction.deposit_info["contact_number"] }}<br />
    	<b>Reference Code:</b> {{ transaction.process_reference }}<br />
        <b>Payment Reference Code:</b> {{ transaction.bank_tx_reference }}<br />
    	
        <h3>Form Data:</h3>
        {% if transaction.form_parameters %}
        <ul class="unstyled">
          <li>UserName: {{transaction.form_parameters["UserName"]}}</li>
          <li>UserEmail: {{transaction.form_parameters["UserEmail"]}}</li>  
          <li>UserContact: {{transaction.form_parameters["UserContact"]}}</li>  
          <li>Amount: {{transaction.form_parameters["Amount"]}}</li>  
          <li>RefNo: {{transaction.form_parameters["RefNo"]}}</li>  
          <li>Signature: {{transaction.form_parameters["Signature"]}}</li>  
          <li>ProdDesc: {{transaction.form_parameters["ProdDesc"]}}</li>  
          <li>PaymentId: {{transaction.form_parameters["PaymentId"]}}</li>  
          <li>MerchantCode: {{transaction.form_parameters["MerchantCode"]}}</li>  
          <li>Lang: {{transaction.form_parameters["Lang"]}}</li>  
          <li>Currency: {{transaction.form_parameters["Currency"]}}</li>  
          <li>Remark: {{transaction.form_parameters["Remark"]}}</li>
          <li>BackendURL: {{transaction.form_parameters["BackendURL"]}}</li>
        </ul>    
        {% else %}
        Transaction has no form data?
        {% endif %}
      </div>
      <div class="span6">
        <h3>Payment Information</h3>
        {% if transaction.callback_data %}
        <ul class="unstyled">
          <li>RefNo: {{transaction.callback_data["RefNo"]}}</li>
          <li>TransId: {{transaction.callback_data["TransId"]}}</li>
          <li>AuthCode: {{transaction.callback_data["AuthCode"]}}</li>
          <li>Amount: {{transaction.callback_data["Amount"]}}</li>
          <li>Currency: {{transaction.callback_data["Currency"]}}</li>
          <li>Signature: {{transaction.callback_data["Signature"]}}</li>
          <li>Status: {{transaction.callback_data["Status"]}}</li>
          <li>MerchantCode: {{transaction.callback_data["MerchantCode"]}}</li>
          <li>PaymentId: {{transaction.callback_data["PaymentId"]}}</li>
          <li>Remark: {{transaction.callback_data["Remark"]}}</li>
          <li>ErrDesc: {{transaction.callback_data["ErrDesc"]}}</li>
        </ul>
        {% else %}
        Transaction has no response data?
        {% endif %}
      </div>
    </div>
{% endblock %}
