{% extends "base.html" %}
{% block title %} List All Transactions {% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>CSR Campaign Payment Transactions</h1>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row-fluid">
      <div class="span8">
        <h3>Active</h3>
        {% if transactions %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Campaign</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            {% for t in transactions %}
            <tr>
              <td><a href="{{ url_for('.csrc_transaction_show', transaction_id=encode_id_paths(t.key.parent().id(), t.key.id())) }}"><small>{{ t.key.id() }}</small></a></td>
              <td>{% if t.created %}{{ t.created|timedeltaformat }} ago{% else %}<i>N/A</i>{% endif %}</td>
              <td>{% if t.deposit_info["campaign"] %}<b>{{ camelcase(t.deposit_info["campaign"]) }}</b>{% else %}<i>N/A</i>{% endif %}</td>
              <td><span class="label {% if t.state == 1 or t.state == 2 %} label-info {% elif t.state == -1 %}label-error{% endif %}"><small>{{ stringify_state(t.state) }}</small></span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pager">
          {% if t_more %}
          <li class="next"><a href="{{ url_for('.csrc_transactions_index', t_c=next_t_c.urlsafe(), r_c=r_c.urlsafe(), d_c=d_c.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
          <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
        {% else %}
        No Active Transactions
        {% endif %}
      </div>
      <div class="span4">
        <h3>Failed</h3>
        {% if reaped %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
            </tr>
          </thead>
          <tbody>
            {% for r_t in reaped %}
            <tr>
              <td><a href="{{ url_for('.csrc_transaction_show', transaction_id=encode_id_paths(r_t.key.parent().id(), r_t.key.id())) }}"><small>{{ r_t.key.id() }}</small></a></td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
        <ul class="pager">
          {% if r_more %}
          <li class="next"><a href="{{ url_for('.csrc_transactions_index', t_c=t_c.urlsafe(), r_c=next_r_c.urlsafe(), d_c=d_c.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
          <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
        {% else %}
        No Failed Transactions
        {% endif %}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <h3>Done</h3>
        {% if done %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Campaign</th>
              <th>Amount</th>
              <th>Date Created</th>
              <th>Date Completed</th>
              <th>Ref Code</th>
              <th>Payment TransID</th>
              <th>Payment AuthCode</th>
            </tr>
          </thead>
          <tbody>
            {% for d in done %}
            <tr>
              <td><a href="{{ url_for('.csrc_transaction_show', transaction_id=encode_id_paths(d.key.parent().id(), d.key.id())) }}"><small>{{ d.key.id() }}</small></a></td>
              <td>{% if d.deposit_info["campaign"] %}<b>{{ camelcase(d.deposit_info["campaign"]) }}</b>{% else %}<i>N/A</i>{% endif %}</td>
              <td>Php {{ d.callback_data["Amount"] }}</td>
              <td>{% if d.created %}{{ d.created|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</td>
              <td>{% if d.completed %}{{ d.completed|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</td>
              <td>{{ d.process_reference }}</td>
              <td>{{ d.bank_tx_reference }}</td>
              <td>{{ d.callback_data["AuthCode"] }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
        <ul class="pager">
          {% if d_more %}
          <li class="next"><a href="{{ url_for('.csrc_transactions_index', t_c=t_c.urlsafe(), r_c=r_c.urlsafe(), d_c=next_d_c.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
          <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
        {% else %}
        No Completed Transactions
        {% endif %}
      </div>
    </div>
{% endblock %}
