{% extends "base.html" %}
{% block title %}GMovies Corporate Social Responsibility Campaign Account Settings{% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>GMovies CSR Campaign Account Settings</h1>
    </div>
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
    <div class="row-fluid">
      <div class="span6">
        <form class="form form-horizontal" method="post" action="{{ url_for('.csrc_settings') }}">
          {{ form.csrf_token }}
          {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
          {% endif %}
          {{ wtf.form_errors(form, False) }}

          Last Updated: {{ last_updated }}
          {{ wtf.horizontal_field(form.merchant_key) }}
          {{ wtf.horizontal_field(form.merchant_code) }}
          {{ wtf.horizontal_field(form.notification_addresses) }}
          {{ wtf.horizontal_field(form.globe_csr_addresses) }}
          <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="span6">
        <div class="alert alert-block">
          <p><strong>Warning</strong> Incorrect use of these settings
          may impair the functionality of the GMovies backend &mdash;
          including, but not limited to the handling of reservation
          transactions, client API requests, and backend API
          processing.</p>

          <p>If you do not know what these settings are, do not change
          them.</p>

          <p>Proceed with caution.</p>
        </div>
      </div>
    </div>
{% endblock %}
