{% extends "base.html" %}
{% block title %} Edit Feed: {{ form.name.data }} {% endblock %}
{% block container_content %}
    <form class="form form-horizontal" method="post" action="{{ url_for('.feed_update', feed_id=feed_id) }}">
        {{ form.csrf_token }}
        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.image_density) }}
        {{ wtf.horizontal_field(form.movie_fields_whitelist) }}
        {{ wtf.horizontal_field(form.movie_fields_blacklist) }}
        {{ wtf.horizontal_field(form.allow_movie_creation) }}

        <div class="form-actions">
           <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
{% endblock %}

