{% extends "base.html" %}
{% block title %} List All Feeds {% endblock %}
{% block container_content %}

    <div class="page-header">
        <h1>Feeds</h1>
    </div>

    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>

    <div>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Feeds</th>
          </tr>
        </thead>
        <tbody>
          {% for f in feeds %}
          <tr>
            <td><a href="{{ url_for('.feed_show', feed_id=f) }}">{{ feeds[f] }}</a></td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
{% endblock %}
