{% extends "base.html" %}
{% block title %} List All Free Tickets {% endblock %}
{% block extra_style %}
    <link href="{{url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Free Tickets</h1>
    </div>
    <div class="row-fluid page-header">
        <form class="form form-horizontal" method="get"
                action="{{ url_for('.free_tickets') }}">
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="transactions_from">Transactions From</label>
                    <div class="controls">
                        <input id="transactions_from" name="transactions_from" type="text"
                                {% if transactions_from %}value="{{ transactions_from }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="transactions_to">Transactions To</label>
                    <div class="controls">
                        <input id="transactions_to" name="transactions_to" type="text"
                                {% if transactions_to %}value="{{ transactions_to }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group" style="display: none;">
                    <label class="control-label" for="theater_id">Theater</label>
                    <div class="controls">
                        <select id="theater_id" name="theater_id">
                            <option value="" {% if theater_id == '' %}selected="selected"{% endif %}></option>
                            {% for theater in theaters %}
                                <option value="{{ theater.key.id() }}" {% if theater.key.id() == theater_id %}selected="selected"{% endif %}>{{ theater.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="platform">Platform</label>
                    <div class="controls">
                        <select id="platform" name="platform">
                            <option value="" {% if platform == '' %}selected="selected"{% endif %}></option>
                            <option value="android" {% if platform == 'android' %}selected="selected"{% endif %}>Android</option>
                            <option value="ios" {% if platform == 'ios' %}selected="selected"{% endif %}>iOS</option>
                            <option value="windows10" {% if platform == 'windows10' %}selected="selected"{% endif %}>Windows 10</option>
                            <option value="website" {% if platform == 'website' %}selected="selected"{% endif %}>Website</option>
                            <option value="not-yet-implemented" {% if platform == 'not-yet-implemented' %}selected="selected"{% endif %}>Platform not yet implemented</option>
                        </select>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" id="search_btn">
                        <i class="icon-search icon-white"></i>&nbsp;Search
                    </button>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="org_uuids">Theater Organization</label>
                    <div id="checkbox-org_uuids" class="controls">
                        <label><input name="org_uuids" type="checkbox" value="31cb3b6b-a727-11e2-9b13-c8bcc88ea4ac" {% if '31cb3b6b-a727-11e2-9b13-c8bcc88ea4ac' in org_uuids %}checked{% endif %}> Ayala Malls</label>
                        <label><input name="org_uuids" type="checkbox" value="4baae642-ea0a-4625-81a6-a21e3726a2c8" {% if '4baae642-ea0a-4625-81a6-a21e3726a2c8' in org_uuids %}checked{% endif %}> Rockwell Malls</label>
                        <label><input name="org_uuids" type="checkbox" value="546029d5-8d61-4aa1-b788-bfd69cc6c96d" {% if '546029d5-8d61-4aa1-b788-bfd69cc6c96d' in org_uuids %}checked{% endif %}> Greenhills Malls</label>
                        <label><input name="org_uuids" type="checkbox" value="96f58804-2a71-45d6-9ca0-1e69f43b6e16" {% if '96f58804-2a71-45d6-9ca0-1e69f43b6e16' in org_uuids %}checked{% endif %}> SM Malls</label>
                        <label><input name="org_uuids" type="checkbox" value="48fe17ca-9d30-4e54-8f3f-4b6f5ad9330a" {% if '48fe17ca-9d30-4e54-8f3f-4b6f5ad9330a' in org_uuids %}checked{% endif %}> Megaworld Malls</label>
                        <label><input name="org_uuids" type="checkbox" value="e5d362e4-23be-42ff-b8ac-2c0bf8b20e6f" {% if 'e5d362e4-23be-42ff-b8ac-2c0bf8b20e6f' in org_uuids %}checked{% endif %}> Robinsons Malls</label>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="discount_type">Discount Type</label>
                    <div class="controls">
                        <label><input name="discount_type" type="checkbox" value="special" {% if 'special' in discount_type %}checked{% endif %}> Special</label>
                        <label><input name="discount_type" type="checkbox" value="rush-rewards" {% if 'rush-rewards' in discount_type %}checked{% endif %}> Rush Rewards</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% if free_tickets %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Transaction ID</th>
                            <th style="text-align: center;">Transaction Date</th>
                            <th style="text-align: center;">Reservation Code</th>
                            <!-- <th style="text-align: center;">Payment Reference</th> -->
                            <th style="text-align: center;">Movie Title</th>
                            <th style="text-align: center;">Email</th>
                            <th style="text-align: center;">Mobile</th>
                            <th style="text-align: center;">Showing Date</th>
                            <th style="text-align: center;">Discount Type</th>
                            <th style="text-align: center;">Platform</th>
                            <th style="text-align: center;">Seat ID</th>
                            <th style="text-align: center;">Seat Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in free_tickets %}
                            <tr>
                                <td><small><a href="{{ url_for('.transaction_show', transaction_id=encode_id_paths(ticket.key.parent().id(), ticket.transaction.id())) }}">{{ ticket.transaction.id() }}</a></small></td>
                                <td style="text-align: center;"><small>{% if ticket.transaction_date %}{{ ticket.transaction_date|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</small></td>
                                <td style="text-align: center;"><small>{{ ticket.reservation_reference }}</small></td>
                                <!-- <td style="text-align: center;"><small>{{ ticket.payment_reference }}</small></td> -->
                                <td style="text-align: center;"><small>{{ ticket.movie }}</small></td>
                                <td style="text-align: center;"><small>{% if ticket.email %}{{ ticket.email }}{% else %}N/A{% endif %}</small></td>
                                <td style="text-align: center;"><small>{% if ticket.mobile %}{{ ticket.mobile }}{% else %}N/A{% endif %}</small></td>
                                <td style="text-align: center;"><small>{% if ticket.show_datetime %}{{ ticket.show_datetime|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</small></td>
                                <td style="text-align: center;"><small>{{ ticket.discount_type }}</small></td>
                                <td style="text-align: center;"><small>{{ ticket.platform }}</small></td>
                                <td style="text-align: center;"><small>{{ ticket.seat_id }}</small></td>
                                <td style="text-align: center;"><small>{{ ticket.seat_name }}</small></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pager">
                    {% if more %}
                        <li class="next"><a href="{{ url_for('.free_tickets', cursor=next_cursor.urlsafe(), transactions_from=transactions_from, transactions_to=transactions_to, discount_type=discount_type, theaterorg_id=theaterorg_id, theater_id=theater_id, platform=platform) }}">Next&rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next&rarr;</a></li>
                    {% endif %}
                </ul>
            {% else %}
                No Free Tickets
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='transactions.js') }}"></script>
{% endblock %}