{% extends "base.html" %}
{% block title %}GMovies Settings{% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>System Settings</h1>
    </div>
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
    <div class="row-fluid">
      <div class="span6">
        <form class="form form-horizontal" method="post" action="{{ url_for('.system_knobs') }}">
          {{ form.csrf_token }}
          {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
          {% endif %}
          {{ wtf.form_errors(form, False) }}

          {{ wtf.horizontal_field(form.enforce_auth) }}
          {{ wtf.horizontal_field(form.enforce_auth_website) }}
          {{ wtf.horizontal_field(form.notification_addresses) }}
          {{ wtf.horizontal_field(form.cms_administrators) }}
          {{ wtf.horizontal_field(form.notification_retry_threshold) }}
          {{ wtf.horizontal_field(form.reap_timeout) }}
          {{ wtf.horizontal_field(form.client_initiated_reap_timeout) }}
          {{ wtf.horizontal_field(form.rt_api_key) }}
          {{ wtf.horizontal_field(form.api_versions_deprecated) }}
          {{ wtf.horizontal_field(form.rockwell_reap_timeout) }}
          {{ wtf.horizontal_field(form.lct_username)}}
          {{ wtf.horizontal_field(form.lct_password)}}
          {{ wtf.horizontal_field(form.lct_reap_timeout)}}
          <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="span6">
        <div class="alert alert-block">
          <p><strong>Warning</strong> Incorrect use of these settings
          may impair the functionality of the GMovies backend &mdash;
          including, but not limited to the handling of reservation
          transactions, client API requests, and backend API
          processing.</p>

          <p>If you do not know what these settings are, do not change
          them.</p>

          <p>Proceed with caution.</p>
        </div>
        <div class="alert alert-block alert-info">
          <p><strong>Note</strong> Instances may need to be restarted
          for any changes to take into effect.</p>
        </div>
      </div>
    </div>
{% endblock %}
