{% extends "base.html" %}
{% block title %}{{ movie.canonical_title }}, Alternate Poster ({{ key_name|d('New', true) }}){% endblock %}
{% block container_content %}
    <div class="page-header">
        <h2><a href="{{ url_for('.movie_update_and_show', movie_id=movie.key.id()) }}">{{ movie.canonical_title }}</a> &gt; Alternate Poster ({{ key_name|d('New', true) }})</h2>
    </div>
    <div id="edit_form">
        <form class="form form-horizontal" method="post">
            {{ form.csrf_token }}

            {% if form.errors['generic'] %}
                <div>
                    <span class="label label-important">{{ form.errors['generic'] }}</span>
                </div>
            {% endif %}

            {{ wtf.form_errors(form, False) }}

            {{ wtf.horizontal_field(form.resolution) }}
            {{ wtf.horizontal_field(form.source_url) }}
            {{ wtf.horizontal_field(form.orientation) }}
            {{ wtf.horizontal_field(form.application_type) }}

            <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-primary">Save Alternate Poster</button>
            </div>
        </form>
    </div>
{% endblock %}