{% extends "base.html" %}
{% block title %} Show Movie Title: {{ movie_title.title }} {% endblock %}
{% block extra_style %}
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>
            <a href="{{ url_for('.movie_title_index') }}">Movie Title Bank</a>
            > {{ movie_title.title }}
        </h1>
        <div class="btn-group">
            {% if not movie_title.rt_details %}
                <a class="btn btn-small" id="get-rt-id" href="#">Get Rotten Tomatoes ID</a>
            {% endif %}
            <a class="btn btn-small" href="{{ url_for('.secondary_title_new', movie_title_id=movie_title.key.id()) }}">Add Secondary Title</a>
            <a class="btn btn-small" href="{{ url_for('.secondary_title_new', movie_title_id=movie_title.key.id(), is_lookup='True') }}">Add Secondary Title from Orphaned Table  </a>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row-fluid">
        <div id="edit_form" class="span6">
            <form id="movie_title_update_show_form" class="form form-horizontal" method="post"
                    action="{{ url_for('.movie_title_update_and_show', movie_title_id=movie_title.key.id()) }}">
                {{ form.csrf_token }}

                {% if form.errors['generic'] %}
                    <div>
                        <span class="label label-important">{{ form.errors['generic'] }}</span>
                    </div>
                {% endif %}

                {{ wtf.form_errors(form, False) }}

                {{ wtf.horizontal_field(form.title) }}

                {% if not movie_title.rt_details %}
                    {{ wtf.horizontal_field(form.rt_id) }}
                {% endif %}

                {{ wtf.horizontal_field(form.is_title_locked) }}
                {{ wtf.horizontal_field(form.is_active) }}

                <h3>
                    Rotten Tomatoes Details&nbsp;
                    {% if movie_title.rt_details %}
                        <button id="rt_details_del_btn" type="button" class="btn btn-danger btn-small">
                            <i class="icon-trash icon-white"></i>
                        </button>
                    {% endif %}
                </h3>
                {% if movie_title.rt_details %}
                    <div class="control-group">
                        <label class="control-label" for="rt-title">Rotten Tomatoes Title</label>
                        <div class="controls">
                            <p id="rt-title" name="rt-title">
                                {{ movie_title.rt_details.rt_title }}
                            </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="rt-id">Rotten Tomatoes ID</label>
                        <div class="controls">
                            <p id="rt-id" name="rt-id">
                                {{ movie_title.rt_details.rt_id }}
                            </p>
                        </div>
                    </div>
                    {% if movie_title.rt_details.alternate_ids %}
                        <div class="control-group">
                            <label class="control-label" for="rt-alternate-ids">Alternate IDs</label>
                            <div class="controls">
                                <p id="rt-alternate-ids" name="rt-alternate-ids">
                                    {% for key, value in movie_title.rt_details.alternate_ids.iteritems() %}
                                        {{ key }}: {{ value }}<br/>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if movie_title.rt_details.release_dates %}
                        <div class="control-group">
                            <label class="control-label" for="rt-release-dates">Release Dates</label>
                            <div class="controls">
                                <p id="rt-release-dates" name="rt-release-dates">
                                    {% for key, value in movie_title.rt_details.release_dates.iteritems() %}
                                        {{ key }}: {{ value }}<br/>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="control-group">
                        <label class="control-label" for="rt-casts">Casts</label>
                        <div class="controls">
                            <p id="rt-casts" name="rt-casts">
                                {% for cast in movie_title.rt_details.casts %}
                                    {{ cast['name'] }}{% if 'characters' in cast %} ({{ ', '.join(cast['characters']) }}){% endif %}<br/>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="rt-synopsis">Synopsis</label>
                        <div class="controls">
                            <p id="rt-synopsis" name="rt-synopsis">
                                {{ movie_title.rt_details.synopsis }}
                            </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="rt-year">Year</label>
                        <div class="controls">
                            <p id="rt-year" name="rt-year">
                                {{ movie_title.rt_details.year }}
                            </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="rt-runtime">Runtime</label>
                        <div class="controls">
                            <p id="rt-runtime" name="rt-runtime">
                                {{ movie_title.rt_details.runtime }}
                            </p>
                        </div>
                    </div>
                    {% if movie_title.rt_details.ratings %}
                        <div class="control-group">
                            <label class="control-label" for="rt-ratings">Ratings</label>
                            <div class="controls">
                                <p id="rt-ratings" name="rt-ratings">
                                    {% for key, value in movie_title.rt_details.ratings.iteritems() %}
                                        {{ key }}: {{ value }}<br/>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="control-group">
                        <label class="control-label" for="rt-mpaa-rating">MPAA Rating</label>
                        <div class="controls">
                            <p id="rt-mpaa-rating" name="rt-mpaa-rating">
                                {{ movie_title.rt_details.mpaa_rating }}
                            </p>
                        </div>
                    </div>
                    {% if movie_title.rt_details.posters %}
                        <div class="control-group">
                            <label class="control-label" for="rt-posters">Posters</label>
                            <div class="controls">
                                <p id="rt-posters" name="rt-posters">
                                    {% for key, value in movie_title.rt_details.posters.iteritems() %}
                                        {{ key }}: <a href="{{ value }}">{{ value }}</a><br/>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    No Rotten Tomatoes Details
                {% endif %}

                <div class="form-actions">
                    <button id="action_save" name="action_save" type="{% if not movie_title.rt_details %}button{% else %}submit{% endif %}"
                            class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        <div class="span6 pullout-list">
            <h3>Secondary Titles</h3>
            {% if movie_title.secondary_titles %}
                <ul>
                    {% for secondary_title in movie_title.secondary_titles %}
                        <li>
                            <a href="{{ url_for('.secondary_title_edit', movie_title_id=movie_title.key.id(), secondary_title_idx=loop.index0) }}">{{ secondary_title.movie_title }}</a>
                            <button name="secondary_title_del_btn" type="button" class="btn btn-danger btn-small"
                                    data-button='{"secondary_title": "{{ secondary_title.movie_title }}", "secondary_title_idx": "{{ loop.index0 }}"}'>
                                <i class="icon-trash icon-white"></i>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                No Secondary Titles
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block bootboxjs %}
    <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>

    <script type="text/javascript">
        var DELETE_SECONDARY_TITLE = "/admin/movie_titles/{{ movie_title.key.id() }}/secondary_titles/";
        var DELETE_RT_DETAILS = "/admin/movie_titles/{{ movie_title.key.id() }}/rt_details/delete";

        $(document).on("click", "button[name='secondary_title_del_btn']", function(e) {
            e.preventDefault();

            var d = $.parseJSON($(this).attr("data-button"));

            bootbox.confirm("You are about to delete secondary title <strong>" + d.secondary_title + "</strong>. Delete now?", function(result) {
                if(result){
                    var form = $("<form>")
                            .attr("action", DELETE_SECONDARY_TITLE + d.secondary_title_idx + "/delete")
                            .attr("method", "post");

                    $("body").append(form);

                form.submit();
                }
            });
        });

        $("#rt_details_del_btn").on("click", function(e) {
            e.preventDefault();

            bootbox.confirm("You are about to delete the Rotten Tomatoes Details. Delete now?", function(result) {
                if(result){
                    var form = $("<form>")
                            .attr("action", DELETE_RT_DETAILS)
                            .attr("method", "post");

                    $("body").append(form);

                form.submit();
                }
            });
        });
    </script>

    {% if not movie_title.rt_details %}
        <script type="text/javascript">
            $("#get-rt-id").click(function() {
                var title = $("#title").val();

                if($.trim(title) == '' || title == null || title == undefined) {
                    bootbox.alert('Please provide the movie title!');
                } else {
                    $.isLoading({ text: "Loading..." });

                    $.ajax({
                        url: "/admin/movie_titles/search_rottentomatoes_id",
                        type: "GET",
                        data: {title: title},
                        success: function(data) {
                            switch (data.status) {
                                case 'ok':
                                    $.isLoading("hide");

                                    var table = $("<table>").addClass("table table-striped table-condensed");
                                    var tr_head = $("<tr>");

                                    tr_head.append('<th>RT ID</th>');
                                    tr_head.append('<th>TITLE</th>');
                                    tr_head.append('<th>YEAR</th>');
                                    tr_head.append('<th>CASTS</th>');
                                    table.append(tr_head);

                                    for (var i=0; i<data.results.length; i++) {
                                        var casts = '';
                                        var tr = $("<tr>");

                                        for (var ic=0; ic<data['results'][i].abridged_cast.length; ic++) {
                                            casts = casts + data['results'][i].abridged_cast[ic].name;

                                            if (ic < data['results'][i].abridged_cast.length) {
                                                casts = casts + '<br/>';
                                            }
                                        }

                                        tr.append('<td><strong>' + data['results'][i].id + '</strong></td>');
                                        tr.append('<td>' + data['results'][i].title + '</td>');
                                        tr.append('<td>' + data['results'][i].year + '</td>');
                                        tr.append('<td>' + casts + '</td>');
                                        table.append(tr);
                                    }

                                    bootbox.alert(table);
                                    return;
                                case 'error':
                                    $.isLoading("hide");
                                    bootbox.alert("ERROR!, " + data['message'])
                                    return;
                                default:
                                    $.isLoading("hide");
                                    bootbox.alert("ERROR!");
                                    return;
                            }
                        }
                    });
                }
            });

            $("#action_save").on("click", function(e) {
                e.preventDefault();

                var rt_id = $("#rt_id").val();

                if($.trim(rt_id) == '' || rt_id == null || rt_id == undefined) {
                    bootbox.confirm("Missing Rotten Tomatoes ID. Do you want to continue?", function(result) {
                        if(result){
                            $("#movie_title_update_show_form").submit();
                        }
                    });
                } else {
                    $("#movie_title_update_show_form").submit();
                }
            });
        </script>
    {% endif %}
{% endblock %}