{% extends "base.html" %}
{% block title %} Creating a New Movie Title {% endblock %}
{% block extra_style %}
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }

    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>
            <a href="{{ url_for('.movie_title_index') }}">Movie Title Bank</a>
            > Create New Movie Title
        </h1>
    </div>
    <div>
        <form class="form form-horizontal" id="movie_title_new_form" method="post" action="{{ url_for('.movie_title_new', is_lookup=is_lookup) }}">
            {{ form.csrf_token }}

            {% if form.errors['generic'] %}
                <div>
                    <span class="label label-important">{{ form.errors['generic'] }}</span>
                </div>
            {% endif %}

            {{ wtf.form_errors(form, False) }}

            {% if is_lookup %} 
                <div class="control-group">
                    <label class="control-label" for="rt_mapping">Rotten Tomatoes ID</label>
                    <div class="controls">
                        {{ form.movie_title_lookup }}
                        <a class="btn btn-small" id="get-rt-id" href="#">Get Rotten Tomatoes ID</a>
                    </div>
                </div>
        
            {% else %}
                <div class="control-group">
                    <label class="control-label" for="rt_mapping">Title</label>
                    <div class="controls">
                        {{ form.title }} 
                        <a class="btn btn-small" id="get-rt-id" href="#">Get Rotten Tomatoes ID</a>
                    </div>
                </div>        
            {% endif %}

            {{ wtf.horizontal_field(form.rt_id) }}

            <div class="form-actions">
               <button id="action_save" name="action_save" type="button" class="btn btn-primary">Add Movie Title</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block bootboxjs %}
    <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>

    <script type="text/javascript">
        var is_lookup = '{{ is_lookup }}';

        $("#get-rt-id").click(function() {
            if (is_lookup == 'True' || is_lookup == 'true') {
                var title = $("#movie_title_lookup option:selected").text();
            } else {
                var title = $("#title").val();
            }

            if($.trim(title) == '' || title == null || title == undefined) {
                bootbox.alert('Please provide the movie title!');
            } else {
                $.isLoading({ text: "Loading..." });

                $.ajax({
                    url: "/admin/movie_titles/search_rottentomatoes_id",
                    type: "GET",
                    data: {title: title, is_lookup: is_lookup},
                    success: function(data) {
                        switch (data.status) {
                            case 'ok':
                                $.isLoading("hide");
                                var table = $("<table>").addClass("table table-striped table-condensed table-hover");
                                table.attr('id','rt-movie-results');
                                var tr_head = $("<tr>");

                                tr_head.append('<th>RT ID</th>');
                                tr_head.append('<th>TITLE</th>');
                                tr_head.append('<th>YEAR</th>');
                                tr_head.append('<th>CASTS</th>');
                                table.append(tr_head);

                                for (var i=0; i<data.results.length; i++) {
                                    var casts = '';
                                    var tr = $("<tr>");

                                    for (var ic=0; ic<data['results'][i].abridged_cast.length; ic++) {
                                        casts = casts + data['results'][i].abridged_cast[ic].name;

                                        if (ic < data['results'][i].abridged_cast.length) {
                                            casts = casts + '<br/>';
                                        }
                                    }
                                    tr.addClass('rtdata');
                                    tr.attr('data-rtid', data['results'][i].id);
                                    tr.append('<td><strong>' + data['results'][i].id + '</strong></td>');
                                    tr.append('<td>' + data['results'][i].title + '</td>');
                                    tr.append('<td>' + data['results'][i].year + '</td>');
                                    tr.append('<td>' + casts + '</td>');
                                    table.append(tr);
                                }

                                bootbox.alert(table);
                                return;
                            case 'error':
                                $.isLoading("hide");
                                bootbox.alert("ERROR!, " + data['message'])
                                return;
                            default:
                                $.isLoading("hide");
                                bootbox.alert("ERROR!");
                                return;
                        }
                    }
                });
            }
        });

        $("#action_save").on("click", function(e) {
            e.preventDefault();

            var rt_id = $("#rt_id").val();

            if($.trim(rt_id) == '' || rt_id == null || rt_id == undefined) {
                bootbox.confirm("Missing Rotten Tomatoes ID. Do you want to continue?", function(result) {
                    if(result){
                        $("#movie_title_new_form").submit();
                    }
                });
            } else {
                $("#movie_title_new_form").submit();
            }
        });

        $(".rtdata").click(function(e) {
                    console.log("Click triggered!");
                    console.log(e.target.tagName);
                    $("#rt_id").val() = $(this).data("rtid");
                });


    </script>
{% endblock %}