{% extends "base.html" %}
{% block title %} Show Movie Sample Ticket Image: {{ movie.canonical_title }} {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>{{ movie.canonical_title }}</h1>
    </div>
    <div class="row-fluid">
      <div class='span12'>
        <h3>Sample Ticket Image</h3>
        <img class="img-polaroid" src="data:image/png;base64,{{ sample_ticket_image.encode('base64') }}" />
      </div>
    </div>
{% endblock %}
{% block bootboxjs %}
    <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>
{% endblock %}