{% extends "base.html" %}
{% block title %} Show Movie: {{ movie.canonical_title }} {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>
        <a href="{{ url_for('.movie_index') }}">Movies</a>
        > {{ movie.canonical_title }}
      </h1>
      <div class="btn-group">
        <a class="btn btn-small" id="fetch-rt-details" data-button='{"rt_movie_id":"{{form.rt_mapping.data}}"}' href="#">
          Get Rotten Tomatoes Details
        </a>
        <a class="btn btn-small" href="{{ url_for('.movie_upload_poster', movie_id=movie.key.id()) }}">Upload Poster</a>
        <a class="btn btn-small" href="{{ url_for('.movie_upload_background_poster', movie_id=movie.key.id()) }}">Upload Background Poster</a>
        <a class="btn btn-small" href="{{ url_for('.alternate_posters_new', movie_id=movie.key.id()) }}">Add Alternate Poster</a>
        <a class="btn btn-small" href="{{ url_for('.movie_sample_ticket_image', movie_id=movie.key.id()) }}">
          Sample Ticket Image
        </a>
      </div>
    </div>
    <div class="row-fluid">
      <div>
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <uls>
                      {% for message in messages %}
                      <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endwith %}
      </div>

      <div id="edit_form" class="span5">
        <form class="form form-horizontal" method="post"
                action="{{ url_for('.movie_update_and_show', movie_id=movie_id) }}"
                enctype="multipart/form-data">
          {{ form.csrf_token }}
          {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
          {% endif %}
          {{ wtf.form_errors(form, False) }}

          {{ wtf.horizontal_field(form.canonical_title) }}
          {{ wtf.horizontal_field(form.genre) }}
          {{ wtf.horizontal_field(form.cast_list) }}
          {{ wtf.horizontal_field(form.runtime_mins) }}
          {{ wtf.horizontal_field(form.release_date) }}
          {{ wtf.horizontal_field(form.advisory_rating) }}
          {{ wtf.horizontal_field(form.synopsis) }}
          {{ wtf.horizontal_field(form.is_expired) }}
          {{ wtf.horizontal_field(form.is_details_locked) }}
          {{ wtf.horizontal_field(form.is_featured) }}
          {{ wtf.horizontal_field(form.is_published) }}
          {{ wtf.horizontal_field(form.is_inactive) }}
          {{ wtf.horizontal_field(form.is_event) }}
          {{ wtf.horizontal_field(form.critics_score) }}
          {{ wtf.horizontal_field(form.critics_rating) }}
          {{ wtf.horizontal_field(form.audience_score) }}
          {{ wtf.horizontal_field(form.audience_rating) }}

          <h3>Posters and Trailer</h3>
          {{ wtf.horizontal_field(form.trailer) }}
          <div class="control-group">
            <label class="control-label" for="">Posters & Backgrounds</label>
            <div class="controls">
              <a id="uploaded_posters" name="uploaded_posters" class="btn btn-info btn-small"
                  href="{{ url_for('.movie_posters', movie_id=movie_id) }}">
                <span class="icon-list icon-white"></span>&nbsp;&nbsp;Show List
              </a>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="alternate_posters">Alternate Posters</label>
            <div class="controls">
              <a id="alternate_posters" name="alternate_posters" class="btn btn-info btn-small"
                  href="{{ url_for('.movie_alternate_posters', movie_id=movie_id) }}">
                <span class="icon-list icon-white"></span>&nbsp;&nbsp;Show List
              </a>
            </div>
          </div>

          <h3>Movie Ticket Template</h3>
          {{ wtf.horizontal_field(form.is_active_ticket_template) }}
          {{ wtf.horizontal_field(form.ticket_template_image_file) }}

          <h3>Feed Mappings</h3>
          <div class="control-group">
            <label class="control-label" for="rt_mapping">Rotten Tomatoes ID</label>
            <div class="controls">
              {{ form.rt_mapping }}
              {% if rt_corr %}
                <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                    data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "rottentomatoes", "corr_id": "{{ rt_corr[0].movie_id }}", "variant": "{{ rt_corr[0].variant }}"}'>
                  <i class="icon-trash icon-white"></i>
                </button>
              {% endif %}
            </div>
          </div>
          
          {% if sureseat_mappings %}
            <ul><h5>Sureseats Feed Mappings</h5></ul>
            {% for s_map in sureseat_mappings %}
              <div class="control-group">
                <label class="control-label" for="sureseat-variant-{{ s_map.variant }}">Sureseat, {{ s_map.variant }}</label>
                <div class="controls">
                  <input id="sureseat-variant-{{ s_map.variant }}" name="sureseat-variant-{{ s_map.variant }}" type="text" disabled value="{{ s_map.movie_id }}">
                  <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                      data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "sureseats", "corr_id": "{{ s_map.movie_id }}", "variant": "{{ s_map.variant }}"}'>
                    <i class="icon-trash icon-white"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if rockwell_mappings %}
            <ul><h5>Rockwell Feed Mappings</h5></ul>
            {% for r_map in rockwell_mappings %}
              <div class="control-group">
                <label class="control-label" for="rockwell-variant-{{ r_map.variant }}">Rockwell, {{ r_map.variant }}</label>
                <div class="controls">
                  <input id="rockwell-variant-{{ r_map.variant }}" name="rockwell-variant-{{ r_map.variant }}" type="text" disabled value={{ r_map.movie_id }}>
                  <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                      data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "rockwell", "corr_id": "{{ r_map.movie_id }}", "variant": "{{ r_map.variant }}"}'>
                    <i class="icon-trash icon-white"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if greenhills_mappings %}
            <ul><h5>Greenhills Feed Mappings</h5></ul>
            {% for greenhills_mapping in greenhills_mappings %}
              <div class="control-group">
                <label class="control-label" for="greenhills-variant-{{ greenhills_mapping.variant }}">Greenhills, {{ greenhills_mapping.variant }}</label>
                <div class="controls">
                  <input id="greenhills-variant-{{ greenhills_mapping.variant }}" name="greenhills-variant-{{ greenhills_mapping.variant }}" type="text" disabled value={{ greenhills_mapping.movie_id }}>
                  <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                      data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "greenhills", "corr_id": "{{ greenhills_mapping.movie_id }}", "variant": "{{ greenhills_mapping.variant }}"}'>
                    <i class="icon-trash icon-white"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if sm_malls_mappings %}
            <ul><h5>SM Malls Feed Mappings</h5></ul>
            {% for sm_mall_mapping in sm_malls_mappings %}
              <div class="control-group">
                <label class="control-label" for="sm-malls-variant-{{ sm_mall_mapping.variant }}">SM Malls, {{ sm_mall_mapping.variant }}</label>
                <div class="controls">
                  <input id="sm-malls-variant-{{ sm_mall_mapping.variant }}" name="sm-malls-variant-{{ sm_mall_mapping.variant }}" type="text" disabled value={{ sm_mall_mapping.movie_id }}>
                  <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                      data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "sm-malls", "corr_id": "{{ sm_mall_mapping.movie_id }}", "variant": "{{ sm_mall_mapping.variant }}"}'>
                    <i class="icon-trash icon-white"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if megaworld_mappings %}
            <ul><h5>Megaworld Feed Mappings</h5></ul>
            {% for mgw_map in megaworld_mappings %}
              <div class="control-group">
                <label class="control-label" for="megaworld-variant-{{ mgw_map.variant }}">Megaworld, {{ mgw_map.variant }}</label>
                <div class="controls">
                  <input id="megaworld-variant-{{ mgw_map.variant }}" name="megaworld-variant-{{ mgw_map.variant }}" type="text" disabled value={{ mgw_map.movie_id }}>
                  <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                      data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "megaworld", "corr_id": "{{ mgw_map.movie_id }}", "variant": "{{ mgw_map.variant }}"}'>
                    <i class="icon-trash icon-white"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if robinsons_mappings %}
            <ul><h5>Robinsons Feed Mappings</h5></ul>
            {% for rmw_map in robinsons_mappings %}
              <div class="control-group">
                <label class="control-label" for="robinsons-variant-{{ rmw_map.variant }}">Robinsons, {{ rmw_map.variant }}</label>
                <div class="controls">
                  <input id="robinsons-variant-{{ rmw_map.variant }}" name="robinsons-variant-{{ rmw_map.variant }}" type="text" disabled value={{ rmw_map.movie_id }}>
                  <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                      data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "robinsons", "corr_id": "{{ rmw_map.movie_id }}", "variant": "{{ rmw_map.variant }}"}'>
                    <i class="icon-trash icon-white"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if cinema76_mappings %}
            <ul><h5>Cinema 76 Feed Mappings</h5></ul>
            {% for cfs_map in cinema76_mappings %}
              <div class="control-group">
                <label class="control-label" for="cinema76-variant-{{ cfs_map.variant }}">Cinema 76, {{ cfs_map.variant }}</label>
                <div class="controls">
                  <input id="cinema76-variant-{{ cfs_map.variant }}" name="cinema76-variant-{{ cfs_map.variant }}" type="text" disabled value={{ cfs_map.movie_id }}>
                  <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                      data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "cinema76", "corr_id": "{{ cfs_map.movie_id }}", "variant": "{{ cfs_map.variant }}"}'>
                    <i class="icon-trash icon-white"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if globeevents_mappings %}
            <ul><h5>Globe Events Feed Mappings</h5></ul>
            {% for ge_map in globeevents_mappings %}
              <div class="control-group">
                <label class="control-label" for="globeevents-variant-{{ ge_map.variant }}">Globe Events, {{ ge_map.variant }}</label>
                <div class="controls">
                  <input id="globeevents-variant-{{ ge_map.variant }}" name="globeevents-variant-{{ ge_map.variant }}" type="text" disabled value={{ ge_map.movie_id }}>
                  <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                      data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "globeevents", "corr_id": "{{ ge_map.movie_id }}", "variant": "{{ ge_map.variant }}"}'>
                    <i class="icon-trash icon-white"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if citymall_mappings %}
            <ul><h5>CityMall Feed Mappings</h5></ul>
            {% for cm_map in citymall_mappings %}
              <div class="control-group">
                <label class="control-label" for="citymall-variant-{{ cm_map.variant }}">CityMall, {{ cm_map.variant }}</label>
                <div class="controls">
                  <input id="citymall-variant-{{ cm_map.variant }}" name="citymall-variant-{{ cm_map.variant }}" type="text" disabled value={{ cm_map.movie_id }}>
                  <button name="feed_corr_del_btn" type="button" class="btn btn-danger btn-small"
                      data-button='{"movie_id": "{{ movie.key.id() }}", "feed_name": "citymall", "corr_id": "{{ cm_map.movie_id }}", "variant": "{{ cm_map.variant }}"}'>
                    <i class="icon-trash icon-white"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      <div class='span4'>
        {% if ticket_template_image %}
          <h3>Ticket Image Template</h3>
          <img class="span10 img-polaroid" src="data:image/png;base64,{{ ticket_template_image.image.encode('base64') }}" />
        {% endif %}
      </div>
      <div class="span2 pullout-list">
        <h3>Schedules</h3>
        {% if schedules %}
        <ul>
          {% for s in schedules %}
          <li><a href="{{ url_for('.schedule_show', theater_id=encoded_theater_id(s[0].key.parent()), schedule_id=s[0].key.id()) }}">{{ s[0].show_date }}, ({{ s[1] }} - {{ s[0].cinema }})</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <i>No Schedules</i>
        {% endif %}
      </div>
    </div>
{% endblock %}
{% block bootboxjs %}
    <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>

    <script type="text/javascript">
        var FETCH_ROTTENTOMATOES_DETAILS = "/admin/movies/{{ movie_id }}/get_rottentomatoes_details";
        var DELETE_FEED_CORRELATION_URL = "/admin/movies/{{ movie_id }}/feed_correlations/";

        $("#fetch-rt-details").on("click", function(e) {
          e.preventDefault();
          var data = $.parseJSON($(this).attr("data-button"));

          if($.trim(data.rt_movie_id) == '' || $.trim(data.rt_movie_id) == 'None'){
            bootbox.alert('Please provide the Rotten Tomatoes ID!');
          } else {
            bootbox.confirm("Fetch Rotten Tomatoes details?", function(result) {
              if(result){
                var form = $("<form>")
                          .attr("action", FETCH_ROTTENTOMATOES_DETAILS)
                          .attr("method", "post")
                          .append($("<input>")
                                   .attr("type", "hidden")
                                   .attr("name", "rt_movie_id")
                                   .attr("value", data.rt_movie_id)
                                  );

                $("body").append(form);

                form.submit();
              }
            });
          }
        });

        $(document).on("click", "button[name='feed_corr_del_btn']", function(e) {
          e.preventDefault();

          var d = $.parseJSON($(this).attr("data-button"));

          bootbox.confirm("You are about to delete "+ d.feed_name +" correlation ID " + d.corr_id + ". Delete now?", function(result) {
            if(result){
              var form = $("<form>")
                      .attr("action", DELETE_FEED_CORRELATION_URL + d.feed_name + "~" + d.corr_id + "~" + d.variant.replace('/', '_') + "/delete")
                      .attr("method", "post");

              $("body").append(form);

              form.submit();
            }
          });
        });
    </script>
{% endblock %}
