{% extends "base.html" %}
{% block title %}Upload Poster: {% if movie %}{{ movie.canonical_title }}{% else %}Default{% endif %}{% endblock %}
{% block container_content %}
    <div class="page-header">
        {% if movie %}
            <h2><a href="{{ url_for('.movie_update_and_show', movie_id=movie.key.id()) }}">{{ movie.canonical_title }}</a> &gt; Upload Poster</h2>
        {% else %}
            <h2><a href="{{ url_for('.movie_index') }}">Movies</a> &gt; Upload Default Poster</h2>
        {% endif %}
    </div>
    <div id="edit_form">
        <form class="form form-horizontal" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

            {% if form.errors['generic'] %}
                <div>
                    <span class="label label-important">{{ form.errors['generic'] }}</span>
                </div>
            {% endif %}

            {{ wtf.form_errors(form, False) }}

            {{ wtf.horizontal_field(form.image_file) }}
            {{ wtf.horizontal_field(form.orientation) }}
            {{ wtf.horizontal_field(form.application_type) }}

            <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-primary">Upload Movie Poster</button>
            </div>
        </form>
    </div>
{% endblock %}