{% extends "base.html" %}
{% block title %} Listing All Movies {% endblock %}
{% block extra_style %}
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Movies</h1>
        <div class="btn-group">
          <a class="btn btn-small" href="{{ url_for('.movie_new') }}">Add Movie</a>
          <a class="btn btn-small" href="{{ url_for('.movie_upload')}}">Upload File</a>
          <a class="btn btn-small" href="{{ url_for('.movie_upload_default_poster')}}">Upload Default Movie Poster</a>
          <a class="btn btn-small" href="{{ url_for('.movie_default_posters')}}">Show Default Movie Poster</a>
          {% if inactive %}
            <a class="btn btn-small" href="{{ url_for('.movie_index') }}">Show Active Movies</a>
          {% else %}
            <a class="btn btn-small" href="{{ url_for('.movie_index', inactive='True') }}">Show In-Active Movies</a>
          {% endif %}
        </div>
        <div class="btn-group">
          <a class="btn btn-small" id="fetch_movies" href="#">Fetch Movies</a>
        </div>
    </div>
    <div>
      <form action="{{ url_for('.movie_index') }}" method="GET"
          id="search_movies" name="search_movies">
        <strong>not searchable:</strong> <i>a, an, and, at, is, in, of, or, the</i>
        <br/><br/>
        <table>
          <tr>
            <td valign="top">
              <input type="text" name="canonical_title"
                  {% if canonical_title %}value="{{ canonical_title }}"{% endif %}/>
              <input type="hidden" name="inactive" value="{{ inactive }}"/>
            </td>
            <td valign="top">
              <button type="submit" class="btn btn-primary">
                <i class="icon-search icon-white"></i>&nbsp;Search by Words
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>
                Title
                {% if sort == '-canonical_title' %}
                    <a href="{{ url_for('.movie_index') }}{% if sort %}?sort=canonical_title{% if inactive %}&inactive={{ inactive }}{% endif %}{% if canonical_title %}&canonical_title={{ canonical_title }}{% endif %}{% endif %}">
                        <img src="{{url_for('static', filename='sort_desc.png') }}"/>
                    </a>
                {% else %}
                    <a href="{{ url_for('.movie_index') }}{% if sort %}?sort=-canonical_title{% if inactive %}&inactive={{ inactive }}{% endif %}{% if canonical_title %}&canonical_title={{ canonical_title }}{% endif %}{% endif %}">
                        <img src="{{url_for('static', filename='sort_asc.png') }}"/>
                    </a>
                {% endif %}
            </th>
            <th>Runtime (minutes)</th>
            <th>
                Release Date
                {% if sort == '-release_date' %}
                    <a href="{{ url_for('.movie_index') }}{% if sort %}?sort=release_date{% if inactive %}&inactive={{ inactive }}{% endif %}{% if canonical_title %}&canonical_title={{ canonical_title }}{% endif %}{% endif %}">
                        <img src="{{url_for('static', filename='sort_desc.png') }}"/>
                    </a>
                {% else %}
                    <a href="{{ url_for('.movie_index') }}{% if sort %}?sort=-release_date{% if inactive %}&inactive={{ inactive }}{% endif %}{% if canonical_title %}&canonical_title={{ canonical_title }}{% endif %}{% endif %}">
                        <img src="{{url_for('static', filename='sort_asc.png') }}"/>
                    </a>
                {% endif %}
            </th>
            <th>Template Image</th>
            <th>Flags</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for m in movies_page %}
          <tr>
            <td><a href="{{ url_for('.movie_update_and_show', movie_id=m.key.id()) }}">{{ m.key.id() }}</a></td>
            <td>{{ m.canonical_title }}</td>
            <td>{{ m.runtime_mins }}</td>
            <td>{{ m.release_date }}</td>
            <td>
              {% if m.has_ticket_template_image() %}
                <span class="label label-success">Has Image</span>
                {% if m.is_active_ticket_template %}
                  <span class="label label-success">Active</span>
                {% else %}
                  <span class="label">Inactive</span>
                {% endif %}
              {% else %}
                <span class="label">No Image</span>
              {% endif %}
            </td>
            <td>{% if not m.is_showing  %}<span class="label">Coming Soon</span>{% endif %}&nbsp;{% if m.is_expired  %}{% if m.is_inactive %}<span class="label label-warning">In Active</span>{% else %}<span class="label label-warning">Expired</span>{% endif %}{% endif %}</td>
            <td>
              <button name="delete_movie_btn" type="submit" class="btn btn-danger btn-small"
                  data-button='{"movie_id":"{{m.key.id()}}", "canonical_title":"{{m.canonical_title}}"}'>
                <i class="icon-trash icon-white"></i>&nbsp;Delete
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <ul class="pager">
        {% if more %}
          <li class="next">
            <a href="{{ url_for('.movie_index', cursor=next_cursor.urlsafe(), canonical_title=canonical_title, inactive=inactive, sort=sort)}}">Next &rarr;</a>
          </li>
        {% else %}
          <li class="next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
      </ul>
    </div>
{% endblock %}
{% block bootboxjs %}
    <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>

    <script type="text/javascript">
        var DELETE_MOVIE_URL = "/admin/movies/";

        $(document).on("click", "button[name='delete_movie_btn']", function(e) {
            e.preventDefault();
            var d = $.parseJSON($(this).attr("data-button"));
            bootbox.confirm("You are about to delete <strong>"+ d.canonical_title +"</strong>. Delete now?", function(result) {
                    if(result) {
                        var form = $("<form>")
                            .attr("action", DELETE_MOVIE_URL + d.movie_id +"/delete" )
                            .attr("method", "post");

                        $("body").append(form);
                        form.submit();
                    }
            });
        });

        $("#fetch_movies").click(function() {
            $.isLoading({ text: "Initiating background task. Please wait..." });
            $.ajax({
                    url: "/tasks/fetch/movies",
                    type: "GET",
                    success: function(data) {
                        switch (data.status) {
                            case 'ok':
                                $.isLoading("hide");
                                bootbox.alert("Task is now running in the background. Movies will be updated soon.");
                                return;
                            case 'error':
                                $.isLoading("hide");
                                bootbox.alert("ERROR! Unable to fetch movies this time. Please try again");
                                return;
                            default:
                                $.isLoading("hide");
                                bootbox.alert("ERROR! Unable to fetch movies this time. Please try again");
                                return;
                        }
                    }
            });
            
        });
    </script>
{% endblock %}
