{% extends "base.html" %}
{% block title %}Show Alternate Posters: {{ movie.canonical_title }}{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h2><a href="{{ url_for('.movie_update_and_show', movie_id=movie.key.id()) }}">{{ movie.canonical_title }}</a> &gt; Alternate Posters</h2>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        {% if movie.alternate_posters %}
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Key Name</th>
                        <th>Source URL</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, source_url in movie.alternate_posters.iteritems() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                                <a id="alternate-poster-image-{{ loop.index0 }}" name="alternate-poster-image-{{ loop.index0 }}"
                                        href="{{ source_url }}">
                                    {{ source_url }}
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-info btn-small"
                                        href="{{ url_for('.alternate_posters_edit', movie_id=movie.key.id(), key_name=key) }}">
                                    <span class="icon-edit icon-white"></span>&nbsp;Edit
                                </a>&nbsp;
                                <button name="alternate_poster_del_btn" type="button" class="btn btn-danger btn-small"
                                        data-button='{"movie_id": "{{ movie.key.id() }}", "key_name": "{{ key }}"}'>
                                    <i class="icon-trash icon-white"></i>&nbsp;Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No Alternate Posters.
        {% endif %}
    </div>
{% endblock %}
{% block bootboxjs %}
    <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>

    <script type="text/javascript">
        var DELETE_ALTERNATE_POSTER_URL = "/admin/movies/{{ movie.key.id() }}/alternate_posters/";

        $(document).on("click", "button[name='alternate_poster_del_btn']", function(e) {
            e.preventDefault();

            var d = $.parseJSON($(this).attr("data-button"));

            bootbox.confirm("You are about to delete alternate poster " + d.key_name + ". Delete now?", function(result) {
                if(result){
                    var form = $("<form>")
                            .attr("action", DELETE_ALTERNATE_POSTER_URL + d.key_name + "/delete")
                            .attr("method", "post");

                    $("body").append(form);

                    form.submit();
                }
            });
        });
    </script>
{% endblock %}