{% extends "base.html" %}
{% block title %} Listing All Movie Titles {% endblock %}
{% block extra_style %}
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}

{% block container_content %}
    <div class="page-header">
        <h1>Movie Title Bank</h1>
        <div class="btn-group">
            <a class="btn btn-small" href="{{ url_for('.movie_title_new')}}">Add New Movie Title</a>
            <a class="btn btn-small" href="{{ url_for('.movie_title_new', is_lookup='True')}}">Add Movie Title from Orphaned Titles</a>
            {% if is_active %}
                <a class="btn btn-small" href="{{ url_for('.movie_title_index', active='False')}}">Show In-Active Movie Titles</a>
            {% else %}
                <a class="btn btn-small" href="{{ url_for('.movie_title_index')}}">Show Active Movie Titles</a>
            {% endif %}
        </div>
        <div class="btn-group">
            <a class="btn btn-small" href="{{ url_for('.movie_titles_lookup_index') }}">Orphaned Movie Titles</a>
            <a class="btn btn-small" id="fetch_from_rt" href="#">Fetch Rotten Tomatoes Movies</a>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        <form action="{{ url_for('.movie_title_index', active=is_active) }}" method="GET">
            <strong>not searchable:</strong> <i>a, an, and, at, is, in, of, or, the</i>
            <br/><br/>
            <table>
                <tr>
                    <td valign="top">
                        <input type="text" name="movie_title"
                            {% if movie_title %}value="{{ movie_title }}"{% endif %}/>
                        <input type="hidden" name="active" value="{{ is_active }}"/>
                    </td>
                    <td valign="top">
                        <button type="submit" class="btn btn-primary">
                            <i class="icon-search icon-white"></i>&nbsp;Search by Words
                        </button>&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        {% if movie_titles %}
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Title Locked</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie_title in movie_titles %}
                        <tr>
                            <td><a href="{{ url_for('.movie_title_update_and_show', movie_title_id=movie_title.key.id()) }}">{{ movie_title.key.id() }}</a></td>
                            <td>{{ movie_title.title }}</td>
                            <td>
                                {% if movie_title.is_title_locked %}
                                    <span class="label label-success">{{ movie_title.is_title_locked }}</span>
                                {% else %}
                                    <span class="label">{{ movie_title.is_title_locked }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if movie_title.is_active %}
                                    <span class="label label-success">{{ movie_title.is_active }}</span>
                                {% else %}
                                    <span class="label">{{ movie_title.is_active }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul class="pager">
                {% if more %}
                    <li class="next">
                        <a href="{{ url_for('.movie_title_index', cursor=next_cursor.urlsafe(), active=is_active)}}">Next &rarr;</a>
                    </li>
                {% else %}
                    <li class="next disabled"><a href="#">Next &rarr;</a></li>
                {% endif %}
            </ul>
        {% else %}
            No Movie Titles
        {% endif %}
    </div>
{% endblock %}
{% block bootboxjs %}
    <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>
    <script type="text/javascript">
        $("#fetch_from_rt").click(function() {
            $.isLoading({ text: "Initiating background task. Please wait..." });
            $.ajax({
                    url: "/tasks/fetch/movies/rottentomatoes",
                    type: "GET",
                    success: function(data) {
                        switch (data.status) {
                            case 'ok':
                                $.isLoading("hide");
                                bootbox.alert("Task is now running in the background. Movie Title Bank will be updated soon.");
                                return;
                            case 'error':
                                $.isLoading("hide");
                                bootbox.alert("ERROR! Unable to fetch movies from Rotten Tomatoes this time. Please try again");
                                return;
                            default:
                                $.isLoading("hide");
                                bootbox.alert("ERROR! Unable to fetch movies from Rotten Tomatoes this time. Please try again");
                                return;
                        }
                    }
            });
            
        });
    </script>
{% endblock %}