{% extends "base.html" %}
{% block title %} Orphaned Movie Titles {% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>
            <a href="{{ url_for('.movie_title_index') }}">Movie Title Bank</a>
            > Orphaned Movie Titles
        </h1>
    </div>
    <div>
        {% if movie_titles_lookup %}
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Movie Title</th>
                        <th>Correlation Titles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lookup in movie_titles_lookup %}
                        <tr>
                            <td>{{ lookup.movie_title }}</td>
                            <td>
                                {{ ', '.join(lookup.correlation_title) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No Orphaned Movie Titles
        {% endif %}
    </div>
{% endblock %}