{% extends "base.html" %}
{% block title %} Theater {% endblock %}
{% block container_content %}
	<form enctype="multipart/form-data" class="form form-horizontal" method="post" action="{{ url_for('.upload_movies_file') }}">
		{{ form.csrf_token }}
		<div>
		{% for e in error_list %}
				<span class="label label-important">{{ e }}</span>
				<br>
		{% endfor %}
		</div>
		{{ wtf.form_errors(form, False) }}

		{{ wtf.horizontal_field(form.file_uploaded) }}

		<div class="form-actions">
		   <button name="action_save" type="submit" class="btn btn-primary">Upload</button>
		</div>
	</form>
{% endblock %}


