{% extends "base.html" %}
{% block title %} Creating a New Movie {% endblock %}
{% block container_content %}
    <form class="form form-horizontal" method="post" action="{{ url_for('.movie_create') }}">
        {{ form.csrf_token }}
        {% if form.errors['generic'] %}
            <div>
                <span class="label label-important">{{ form.errors['generic'] }}</span>
            </div>
        {% endif %}
        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.canonical_title) }}
        {{ wtf.horizontal_field(form.genre) }}
        {{ wtf.horizontal_field(form.cast_list) }}
        {{ wtf.horizontal_field(form.runtime_mins) }}
        {{ wtf.horizontal_field(form.release_date) }}
        {{ wtf.horizontal_field(form.advisory_rating) }}
        {{ wtf.horizontal_field(form.synopsis) }}

        <div class="form-actions">
           <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
{% endblock %}

