{% extends "base.html" %}
{% block title %}{% if movie %}Show Posters & Backgrounds: {{ movie.canonical_title }}{% else %}Show Posters: Default{% endif %}{% endblock %}
{% block container_content %}
    <div class="page-header">
        {% if movie %}
            <h2><a href="{{ url_for('.movie_update_and_show', movie_id=movie.key.id()) }}">{{ movie.canonical_title }}</a> &gt; Posters & Backgrounds</h2>
        {% else %}
            <h2><a href="{{ url_for('.movie_index') }}">Movies</a> &gt; Default Posters</h2>
        {% endif %}
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        {% if posters %}
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Image URL</th>
                        <th>Resolution</th>
                        <th>Orientation</th>
                        <th>Application Type</th>
                        <th>Background</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    {% for poster in posters %}
                        <tr>
                            <td>
                                <a id="poster-image-{{ loop.index0 }}" name="poster-image-{{ loop.index0 }}"
                                        href="{{ get_serving_url(poster.image) }}">
                                    {{ get_serving_url(poster.image) }}
                                </a>
                            </td>
                            <td>{{ poster.resolution }}</td>
                            <td>{{ poster.orientation }}</td>
                            <td>{{ poster.application_type }}</td>
                            <td>
                                {% if poster.is_background %}
                                    <span class="label label-success">{{ poster.is_background }}</span>
                                {% else %}
                                    <span class="label">{{ poster.is_background }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if poster.is_default %}
                                    <span class="label label-success">{{ poster.is_default }}</span>
                                {% else %}
                                    <span class="label">{{ poster.is_default }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No Uploaded Posters.
        {% endif %}
    </div>
{% endblock %}