{% extends "base.html" %}
{% block title %}Payment Options Settings: {{ payment_option.name }}{% endblock %}
{% block container_content %}
  <div class="page-header">
    <h1><a href="{{ url_for('.paymentoptions_settings_index') }}"> Payment Options Settings</a> > {{ payment_option.name }}</h1>
  </div>
  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <div class="row-fluid">
    <div id="edit_form" class="span9">
      <form action="{{ url_for('.paymentoptions_settings_show', payment_option_identifier=payment_option.key.id()) }}"
          method="post" enctype="multipart/form-data" class="form form-horizontal">
        {{ form.csrf_token }}

        {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
        {% endif %}

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.type) }}
        {{ wtf.horizontal_field(form.payment_gateway) }}
        {{ wtf.horizontal_field(form.default_params) }}
        {{ wtf.horizontal_field(form.instruction_url) }}
        {{ wtf.horizontal_field(form.image_url) }}
        {{ wtf.horizontal_field(form.paymentoption_image_file) }}
        {{ wtf.horizontal_field(form.header_url) }}
        {{ wtf.horizontal_field(form.paymentoption_header_file) }}
        {{ wtf.horizontal_field(form.is_required_discount_codes) }}

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
    <div class="span3 pullout-list">
      {% if payment_option.image_url %}
        <img class="img-polaroid" src='{{ payment_option.image_url }}'><br /><br />
      {% elif assets_entity_logo %}
        <img class="img-polaroid" src='{{ get_serving_url(assets_entity_logo.image) }}'><br /><br />
      {% endif %}

      {% if payment_option.header_url %}
        <img class="img-polaroid" src='{{ payment_option.header_url }}'><br /><br />
      {% elif assets_entity_header %}
        <img class="img-polaroid" src='{{ get_serving_url(assets_entity_header.image) }}'><br /><br />
      {% endif %}

      <h4>Allow Discount Codes Whitelist</h4>
      {% for theaterorg in theaterorgs %}
        <h5><a href="{{ url_for('.paymentoptions_settings_discountcodes_whitelist', payment_option_identifier=payment_option.key.id(), theaterorg_id=theaterorg.key.id()) }}">{{ theaterorg.name }}</a><br /></h5>

        <ul>
          {% for theater in theaters %}
            {% if theater.key.parent().id() == theaterorg.key.id() %}
              {% if encoded_theater_id(theater.key) in payment_option.allow_discount_codes_whitelist[theaterorg.key.id()] %}
                <li>{{ theater.name }}</li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
{% endblock %}