{% extends "base.html" %}
{% block title %}{{ payment_identifier.title() }} Payment Settings{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>{{ payment_identifier.title() }} Payment Settings</h1>
        <div class="btn-group">
          <a class="btn btn-small" href="{{ url_for('.payment_settings_new', payment_identifier=payment_identifier) }}">Add {{ payment_identifier.title() }} Payment Settings</a>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% if payment_settings %}
    <div>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Payment Settings ID</th>
          </tr>
        </thead>
        <tbody>
          {% for ps in payment_settings %}
          <tr>
            <td><a href="{{ url_for('.payment_settings_update_and_show', payment_identifier=payment_identifier, payment_setting_id=ps.payment_setting_urlstring) }}">{{ ps.parent }}</a></td>
            <td>{{ ps.payment_setting_id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div>
      <i>No payment settings.</i>
    </div>
    {% endif %}
{% endblock %}
