{% extends "base.html" %}
{% block title %} Create New {{ payment_identifier.title() }} Payment Setting {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1><a href="{{ url_for('.payment_settings_index', payment_identifier=payment_identifier) }}">{{ payment_identifier.title() }} Payment Settings</a>
      > New</h1>
    </div>
    <div class="row-fluid">
      <div id="edit_form" class="span8">
        <form class="form form-horizontal" method="post" action="{{ url_for('.payment_settings_new', payment_identifier=payment_identifier) }}">
          {{ form.csrf_token }}
          {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
          {% endif %}
          {{ wtf.form_errors(form, False) }}

          {{ wtf.horizontal_field(form.theater) }}

          {% if payment_identifier == 'paynamics' %}
            {{ wtf.horizontal_field(form.merchant_id) }}
            {{ wtf.horizontal_field(form.merchant_name) }}
            {{ wtf.horizontal_field(form.merchant_key) }}
            {{ wtf.horizontal_field(form.moto_merchant_id) }}
            {{ wtf.horizontal_field(form.moto_merchant_name) }}
            {{ wtf.horizontal_field(form.moto_merchant_key) }}
            {{ wtf.horizontal_field(form.tokenized_3d_merchant_id) }}
            {{ wtf.horizontal_field(form.tokenized_3d_merchant_name) }}
            {{ wtf.horizontal_field(form.tokenized_3d_merchant_key) }}
            {{ wtf.horizontal_field(form.ip_address) }}
            {{ wtf.horizontal_field(form.notification_url) }}
            {{ wtf.horizontal_field(form.response_url) }}
            {{ wtf.horizontal_field(form.cancel_url) }}
            {{ wtf.horizontal_field(form.mtac_url) }}
            {{ wtf.horizontal_field(form.currency) }}
            {{ wtf.horizontal_field(form.pmethod) }}
            {{ wtf.horizontal_field(form.trxtype) }}
            {{ wtf.horizontal_field(form.mlogo_url) }}
            {{ wtf.horizontal_field(form.secure3d) }}
            {{ wtf.horizontal_field(form.descriptor_note) }}
            {{ wtf.horizontal_field(form.default_form_target) }}
          {% elif payment_identifier == 'migs' %}
            {{ wtf.horizontal_field(form.merchant_id) }}
            {{ wtf.horizontal_field(form.access_code) }}
            {{ wtf.horizontal_field(form.hash_secret) }}
            {{ wtf.horizontal_field(form.username) }}
            {{ wtf.horizontal_field(form.password) }}
            {{ wtf.horizontal_field(form.title) }}
            {{ wtf.horizontal_field(form.vpc_version) }}
            {{ wtf.horizontal_field(form.vpc_command) }}
            {{ wtf.horizontal_field(form.vpc_locale) }}
            {{ wtf.horizontal_field(form.vpc_currency) }}
            {{ wtf.horizontal_field(form.vpc_return_url) }}
            {{ wtf.horizontal_field(form.default_form_target) }}
            {{ wtf.horizontal_field(form.requery_url) }}
          {% elif payment_identifier == 'ipay88' %}
            {{ wtf.horizontal_field(form.merchant_code) }}
            {{ wtf.horizontal_field(form.merchant_key) }}
            {{ wtf.horizontal_field(form.backend_url) }}
            {{ wtf.horizontal_field(form.payment_id) }}
            {{ wtf.horizontal_field(form.currency) }}
            {{ wtf.horizontal_field(form.prod_desc) }}
            {{ wtf.horizontal_field(form.remark) }}
            {{ wtf.horizontal_field(form.lang) }}
            {{ wtf.horizontal_field(form.default_form_target) }}
          {% else %}
            {{ wtf.horizontal_field(form.payment_identifier) }}
            {{ wtf.horizontal_field(form.currency_code) }}
            {{ wtf.horizontal_field(form.pay_type) }}
            {{ wtf.horizontal_field(form.merchand_id) }}
            {{ wtf.horizontal_field(form.hash_secret) }}
            {{ wtf.horizontal_field(form.default_form_target) }}
          {% endif %}
          <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="span2 pullout-list">
        &nbsp;
      </div>
    </div>

{% endblock %}
