{% extends "base.html" %}
{% block title %}Payment Options Settings: {{ payment_option.name }}{% endblock %}
{% block container_content %}
  <div class="page-header">
    <h1><a href="{{ url_for('.paymentoptions_settings_show', payment_option_identifier=payment_option.key.id()) }}"> {{ payment_option.name }}</a> > {{ theaterorg.name }} </h1>
  </div>
  <div class="row-fluid">
    <div id="edit_form" class="span9">
      <form action="{{ url_for('.paymentoptions_settings_discountcodes_whitelist', payment_option_identifier=payment_option.key.id(), theaterorg_id=theaterorg.key.id()) }}"
          method="post" class="form form-horizontal">
        {{ form.csrf_token }}

        {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
        {% endif %}

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.theaters_whitelist) }}

        <div class="form-actions">
          <button name="action_save" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}