{% extends "base.html" %}
{% block title %} Create New Payment Options Settings {% endblock %}
{% block container_content %}
  <div class="page-header">
    <h1><a href="{{ url_for('.paymentoptions_settings_index') }}">Payment Options Settings</a> > New</h1>
  </div>
  <div class="row-fluid">
    <div id="edit_form" class="span12">
      <form class="form form-horizontal" method="post" action="{{ url_for('.paymentoptions_settings_new') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {% if form.errors['generic'] %}
          <div>
            <span class="label label-important">{{ form.errors['generic'] }}</span>
          </div>
        {% endif %}

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.payment_option_identifier) }}
        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.type) }}
        {{ wtf.horizontal_field(form.payment_gateway) }}
        {{ wtf.horizontal_field(form.default_params) }}
        {{ wtf.horizontal_field(form.instruction_url) }}
        {{ wtf.horizontal_field(form.image_url) }}
        {{ wtf.horizontal_field(form.paymentoption_image_file) }}
        {{ wtf.horizontal_field(form.header_url) }}
        {{ wtf.horizontal_field(form.paymentoption_header_file) }}
        {{ wtf.horizontal_field(form.is_required_discount_codes) }}

        <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}