{% extends "base.html" %}
{% block title %}Payment Options Settings{% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>Payment Options Settings</h1>
      <div class="btn-group">
        <a class="btn btn-small" href="{{ url_for('.paymentoptions_settings_new') }}">Add Payment Options Settings</a>
      </div>
    </div>

    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>

    {% if payment_options %}
      <div>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th width="50%">Payment Option Identifier</th>
              <th width="50%">Name</th>
            </tr>
          </thead>
          <tbody>
            {% for po in payment_options %}
              <tr>
                <td><a href="{{ url_for('.paymentoptions_settings_show', payment_option_identifier=po.key.id()) }}">{{ po.key.id() }}</a></td>
                <td>{{ po.name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div>
        <i>No payment options settings.</i>
      </div>
    {% endif %}
{% endblock %}