{% extends "base.html" %}
{% block title %}Show Promo: {{ promo.name }}{% endblock %}
{% block extra_style %}
    <style type="text/css">
        .seatmap .controls label {
            font-size: 0.8em;
        }
        .seatmap ul li {
            list-style: none;
        }
        .seats_blacklist .controls label {
            font-size: 0.8em;
        }
        .seats_blacklist ul li {
            display: inline-block;
            list-style: none;
            padding: 12px;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1><a href="{{ url_for('.promo_index') }}">Promos</a>
        > {{ promo.name }}</h1>
        <div class="btn-group">
            <a class="btn btn-small" href="{{ url_for('.promo_upload_poster', promo_id=promo.key.id()) }}">Upload Poster</a>
            <a class="btn btn-small" href="{{ url_for('.promo_posters', promo_id=promo.key.id()) }}">Show Poster List</a>
            <a class="btn btn-small" href="{{ url_for('.image_get_serving_urls', promo_id=promo.key.id()) }}">Save Image Serving URLs</a>
            <!-- <a class="btn btn-small" href="#">Seats Map</a> -->
            <a class="btn btn-small" href="{{ url_for('.promo_seats_status', promo_id=promo.key.id()) }}">Seats Status</a>
            <a class="btn btn-small" href="{{ url_for('.promo_seatmap_upload', promo_id=promo.key.id()) }}">Upload Seat Map</a>
        </div>
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <form class="form form-horizontal" method="post"
            action="{{ url_for('.promo_update_and_show', promo_id=promo.key.id()) }}"
            enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div id="edit_form" class="row-fluid">
            <div class="row-fluid">
                <div class="span8">
                    {% if form.errors['generic'] %}
                        <div>
                            <span class="label label-important">{{ form.errors['generic'] }}</span>
                        </div>
                    {% endif %}
                    {{ wtf.form_errors(form, False) }}

                    {{ wtf.horizontal_field(form.name) }}
                    {{ wtf.horizontal_field(form.movie_title) }}
                    {{ wtf.horizontal_field(form.available_date) }}
                    {{ wtf.horizontal_field(form.start_time_timefield) }}
                    {{ wtf.horizontal_field(form.end_time_timefield) }}
                    {{ wtf.horizontal_field(form.price) }}
                    {{ wtf.horizontal_field(form.convenience_fees_text) }}
                    {{ wtf.horizontal_field(form.convenience_fees_message_text) }}
                    {{ wtf.horizontal_field(form.theater_id) }}
                    {{ wtf.horizontal_field(form.theater) }}
                    {{ wtf.horizontal_field(form.theater_code) }}
                    {{ wtf.horizontal_field(form.theater_address) }}
                    {{ wtf.horizontal_field(form.theater_logo_image_file) }}
                    {{ wtf.horizontal_field(form.cinema) }}
                    {{ wtf.horizontal_field(form.mechanics) }}
                    {{ wtf.horizontal_field(form.platform) }}
                    {{ wtf.horizontal_field(form.is_block_screening) }}
                    {{ wtf.horizontal_field(form.is_featured) }}
                    {{ wtf.horizontal_field(form.is_active) }}
                    {{ wtf.horizontal_field(form.activate_requery) }}

                    <h3>Payment Options</h3>
                    {{ wtf.horizontal_field(form.payment_options_ios, class="checkbox") }}
                    {{ wtf.horizontal_field(form.payment_options_android, class="checkbox") }}
                    {{ wtf.horizontal_field(form.payment_options_website, class="checkbox") }}

                    <h3>Ticket Template</h3>
                    {{ wtf.horizontal_field(form.ticket_template_image_file) }}
                    {{ wtf.horizontal_field(form.ticket_template) }}
                    {{ wtf.horizontal_field(form.is_qrcode) }}

                    <h3>Seat Map</h3>
                    {{ wtf.horizontal_field(form.addseats) }}

                    <div class="seatmap">
                        {{ wtf.horizontal_field(form.seat_map) }}
                    </div>

                    <div class="form-actions">
                       <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                {% if ticket_template_image %}
                    <span class="span4" style="padding-bottom: 10px"><strong>Ticket Ticket Template</strong></span>
                    <img class="span4 img-polaroid" src="data:image/png;base64,{{ ticket_template_image.image.encode('base64') }}" />
                {% endif %}
                {% if assets_entity %}
                    <span class="span4" style="padding-bottom: 10px"><strong>Theater Logo</strong></span>
                    <img class="span2 img-polaroid"  src='{{ get_serving_url(assets_entity.image) }}'>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}