{% extends "base.html" %}
{% block title %} List All Transactions Done {% endblock %}
{% block extra_style %}
    <link href="{{url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>
            <a href="{{ url_for('.promo_transactions_index') }}">Promo Transactions</a>
            > Search ({{ to_state_str_promo(txpromo_state) }})
        </h1>
    </div>
    <div class="row-fluid page-header" style="margin-bottom: 5px; ">
        <form class="form form-horizontal" method="get" id="promo_done_report_form" style="margin: 0; "
            action="{{ url_for('.promo_transactions_search', state=100) }}">
            <div class="span4">
                <input id="tx_state" name="tx_state" type="hidden" value="{{ txpromo_state }}"  />
                <div class="control-group">
                    <label class="control-label" for="transactions_from">Transactions From</label>
                    <div class="controls">
                        <input id="transactions_from" name="transactions_from" type="text" value="{{ render_data.filter_selected.transactions_from }}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="transactions_to">Transactions To</label>
                    <div class="controls">
                        <input id="transactions_to" name="transactions_to" type="text" value="{{ render_data.filter_selected.transactions_to }}" />
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="report_search_btn">
                        <i class="icon-search icon-white"></i>&nbsp;Search
                    </button>
                    {% if transactions %}
                        <button type="button" class="btn" id="report_export_btn">
                            <i class="icon-download icon-white"></i>&nbsp;Export to XLS
                        </button>
                    {% else %}
                        <button type="button" class="btn disabled" id="report_export_btn">
                            <i class="icon-download icon-white"></i>&nbsp;Export to XLS
                        </button>
                    {% endif %}
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="promo_names">Promo Name</label>
                    <div class="controls">
                        <select id="promo_names" name="promo_names">
                            <option value=""></option>
                            {% for promo_names_index, promo_names_values in render_data.filter_label.promo_names.iteritems() %}
                                <option value="{{ promo_names_index }}" {% if promo_names_index == render_data.filter_selected.promo_name %}selected='selected' {% endif %}> {{ promo_names_values['label'] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="payment_ref">Payment Reference</label>
                    <div class="controls">
                        <input type="text" id="payment_ref" name="payment_ref" value="{% if render_data.filter_selected.payment_ref %}{{ render_data.filter_selected.payment_ref }}{% endif %}" />
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="reservation_ref">Reservation Reference</label>
                    <div class="controls">
                        <input type="text" id="reservation_ref" name="reservation_ref" value="{% if render_data.filter_selected.reservation_ref %}{{ render_data.filter_selected.reservation_ref }}{% endif %}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="payment_type">Payment Type</label>
                    <div class="controls">
                        <select id="payment_type" name="payment_type">
                            <option value=""></option>
                            {% for payment_label_index, payment_label_val in render_data.payment_option_label.iteritems() %}
                                <option value="{{ payment_label_index }}" {% if payment_label_index == render_data.filter_selected.payment_type %} selected='selected' {% endif %} > {{ payment_label_val }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% if transactions %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Payment Reference</th>
                            <th>Reservation Ref.</th>
                            <th>Promo Name</th>
                            <th>Theater</th>
                            <th>Cinema</th> 
                            <th>Screening</th> 
                            <th>Payment Type</th>
                            <th>Customer</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>
                                    {% if transaction.was_requery %}
                                        <span class="label label-success">
                                            <a href="{{ url_for('.promo_transaction_show', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id())) }}" style="color: white; ">
                                                <small>
                                                    {{ transaction.key.id() }}
                                                </small>
                                            </a>
                                        </span>
                                    {% else %}
                                         <span class="label">
                                            <a href="{{ url_for('.promo_transaction_show', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id())) }}" style="color: white; ">
                                                <small>
                                                    {{ transaction.key.id() }}
                                                </small>
                                            </a>
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <small>
                                        {{ transaction.payment_reference }}
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        {% if transaction.reservation_reference %}
                                            {{ transaction.reservation_reference }}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        {{ transaction.ticket.extra['promo_name'] }}
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        {{ transaction.ticket.extra['theater_name'] }}
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        {{ transaction.ticket.extra['cinema_name'] }}
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        {{ transaction.ticket.extra['available_date'] + " " + transaction.ticket.extra['start_time'] }}
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        {{ transaction.payment_type }}
                                    </small>
                                </td>
                                <td>
                                    {% if transaction.payment_type == 'paynamics-payment-initiated' %}
                                        {% if 'fname' in transaction.payment_info and 'lname' in transaction.payment_info %}
                                            <small>
                                                {{ transaction.payment_info['fname'] }} {{ transaction.payment_info['lname'] }}
                                            </small>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    <small>
                                        {% if transaction.date_created %}
                                            {{ transaction.date_created|datetimeformat(format='medium') }}
                                        {% else %}
                                            <i>N/A</i>
                                        {% endif %}
                                    </small>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pager">
                    {% if more %}
                        <li class="next"><a href="{{ url_for('.promo_transactions_search', cursor=next_cursor.urlsafe(), state=txpromo_state, transactions_from=render_data.filter_selected.transactions_from, transactions_to=render_data.filter_selected.transactions_to, promo_names=render_data.filter_selected.promo_name, payment_ref=render_data.filter_selected.payment_ref, reservation_ref=render_data.filter_selected.reservation_ref, payment_type=render_data.filter_selected.payment_type) }}">Next&rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next&rarr;</a></li>
                    {% endif %}
                </ul>
            {% else %}
                No Completed Promo Transactions
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='transactions.js') }}"></script>
{% endblock %}