{% extends "base.html" %}
{% block title %} Show Promo Transaction: {{ transaction.key.id() }} {% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Promo Transaction</h1>
        <h2>{{ transaction.key.id() }}</h2>
        <div class="btn-group">
            {% if to_state_str_promo(transaction.state) == 'TX_DONE' and email %}
                <a class="btn btn-small" href="{{ url_for('.promo_transaction_email', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id())) }}">Send Ticket Details</a>
            {% endif %}
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h3>Primary Details:</h3>
            ID: {{ transaction.key.id() }}<br />
            Date Created: {% if transaction.date_created %}{{ transaction.date_created|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}<br />
            State: {{ to_state_str_promo(transaction.state) }}<br />
            Payment Reference Code: {{ transaction.payment_reference }}<br />
            Reservation Reference Code: {{ transaction.reservation_reference }}<br />
            Is Verified: {{ transaction.is_verified }} {% if transaction.date_verified %}({{ transaction.date_verified|datetimeformat(format='short') }}){% endif %}<br />
            Is Claimed: {{ transaction.is_claimed }} {% if transaction.date_claimed %}({{ transaction.date_claimed|datetimeformat(format='short') }}){% endif %}<br />
            Was Requery: {{ transaction.was_requery }}<br />
            Platform: {{ transaction.platform }}<br />

            <h3>Reservations:</h3>
            {% if transaction.reservations %}
                <ul class="unstyled">
                    {% for i,r in enumerate(transaction.reservations) %}
                        <li>
                            Promo ID: <a href="{{ url_for('.promo_update_and_show', promo_id=r.promo.id()) }}">{{ r.promo }}</a><br />
                            Seat ID: {{ r.seat_id }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Transaction has no reservations?
            {% endif %}
            </div>
        <div class="span6">
            <h3>Payment Information:</h3>
            {% if transaction.payment_info %}
                Payment Type: {{ transaction.payment_type }}<br />

                {% if 'email' in transaction.payment_info %}
                    Email: {{ transaction.payment_info['email'] }}<br />
                {% endif %}

                {% if transaction.payment_type == 'gmovies-promo' %}
                    Promo Code: {{ transaction.payment_info['promo_code'] }}<br />
                {% elif transaction.payment_type == 'paynamics-payment-initiated' %}
                    First Name: {{ transaction.payment_info['fname'] }}<br />
                    Middle Name: {{ transaction.payment_info['mname'] }}<br />
                    Last Name: {{ transaction.payment_info['lname'] }}<br />
                    Address 1: {{ transaction.payment_info['address1'] }}<br />
                    Address 2: {{ transaction.payment_info['address2'] }}<br />
                    City: {{ transaction.payment_info['city'] }}<br />
                    State: {{ transaction.payment_info['state'] }}<br />
                    Country: {{ transaction.payment_info['country'] }}<br />
                    Zip Code: {{ transaction.payment_info['zip'] }}<br />
                    Phone Number: {{ transaction.payment_info['phone'] }}<br />
                    Mobile Number: {{ transaction.payment_info['mobile'] }}<br />
                {% else %}
                    Transaction has no payment info?
                {% endif %}
            {% else %}
                Transaction has no payment info?
            {% endif %}
        </div>
    </div>
    {% if transaction.ticket %}
        <div class="row-fluid">
            <div class="span12">
                <h3>Ticket Information:</h3>
                Reservation Reference: {{ transaction.ticket.ref }}<br />
                Ticket Code: {{ transaction.ticket.code }}<br />
                Date: {{ transaction.ticket.date }}<br />
                <br/>
                {% if transaction.ticket.image %}
                    Ticket: <img class="img-rounded" src="data:image/png;base64,{{ transaction.ticket.image.encode('base64') }}" />
                {% else %}
                    {% if transaction.ticket.barcode %}
                        Barcode: <img class="img-rounded" src="data:image/png;base64,{{ transaction.ticket.barcode.encode('base64') }}" />
                    {% endif %}
                    <br/>
                    {% if transaction.ticket.qrcode %}
                        QRCode: <img class="img-rounded" src="data:image/png;base64,{{ transaction.ticket.qrcode.encode('base64') }}" />
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
