{% extends "base.html" %}
{% block title %}Promos{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Promos</h1>
        <div class="btn-group">
            <a class="btn btn-small" href="{{ url_for('.promo_new') }}">Add Promo</a>
        </div>
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% if promos %}
        <div>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Theater/Cinema</th>
                        <th>Available Date</th>
                        <th>Start Time</th>
                        <th>Is Featured</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for promo in promos %}
                        <tr>
                            <td>
                                <a href="{{ url_for('.promo_update_and_show', promo_id=promo.key.id()) }}">
                                    {{ promo.key.id() }}</a>
                            </td>
                            <td>{{ promo.name }}</td>
                            <td>{{ promo.theater }}/{{ promo.cinema }}</td>
                            <td>{{ promo.available_date }}</td>
                            <td>{{ promo.start_time }}</td>
                            <td>
                                {% if promo.is_featured %}
                                    <span class="label label-success">{{ promo.is_featured }}</span>
                                {% else %}
                                    <span class="label">{{ promo.is_featured }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if promo.is_active %}
                                    <span class="label label-success">{{ promo.is_active }}</span>
                                {% else %}
                                    <span class="label">{{ promo.is_active }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div>
            <i>No promos.</i>
        </div>
    {% endif %}
{% endblock %}