{% extends "base.html" %}
{% block title %}Upload Seat Map{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1><a href="{{ url_for('.promo_update_and_show', promo_id=promo_id) }}">{{ promo_id }}</a>
        > Upload Seat Map</h1>
    </div>

    <form enctype="multipart/form-data" class="form form-horizontal" method="post" action="{{ url_for('.promo_seatmap_upload', promo_id=promo_id) }}">
        {{ form.csrf_token }}
        <div>
            {% for e in error_list %}
                <span class="label label-important">{{ e }}</span><br>
            {% endfor %}
        </div>

        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.file_uploaded) }}

        <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
{% endblock %}