{% extends "base.html" %}
{% block title %}Create a New Promo{% endblock %}
{% block extra_style %}
    <style type="text/css">
        .seatmap .controls label { font-size: 0.8em; }
        .seatmap ul li { list-style: none; }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1><a href="{{ url_for('.promo_index') }}">Promos</a>
      > New</h1>
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="row-fluid">
        <div id="edit_form" class="span8">
            <form class="form form-horizontal" method="post" action="{{ url_for('.promo_new') }}"
                    enctype="multipart/form-data">
                {{ form.csrf_token }}
                {% if form.errors['generic'] %}
                    <div>
                        <span class="label label-important">{{ form.errors['generic'] }}</span>
                    </div>
                {% endif %}
                {{ wtf.form_errors(form, False) }}

                {{ wtf.horizontal_field(form.name) }}
                {{ wtf.horizontal_field(form.movie_title) }}
                {{ wtf.horizontal_field(form.available_date) }}
                {{ wtf.horizontal_field(form.start_time_timefield) }}
                {{ wtf.horizontal_field(form.end_time_timefield) }}
                {{ wtf.horizontal_field(form.price) }}
                {{ wtf.horizontal_field(form.convenience_fees_text) }}
                {{ wtf.horizontal_field(form.convenience_fees_message_text) }}
                {{ wtf.horizontal_field(form.theater_id) }}
                {{ wtf.horizontal_field(form.theater) }}
                {{ wtf.horizontal_field(form.theater_code) }}
                {{ wtf.horizontal_field(form.theater_address) }}
                {{ wtf.horizontal_field(form.theater_logo_image_file) }}
                {{ wtf.horizontal_field(form.cinema) }}
                {{ wtf.horizontal_field(form.mechanics) }}

                <div class="form-actions">
                   <button name="action_save" type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}