{% extends "base.html" %}
{% block title %}Upload Poster: {{ promo.name }}{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h2><a href="{{ url_for('.promo_update_and_show', promo_id=promo.key.id()) }}">{{ promo.name }}</a> &gt; Upload Poster</h2>
    </div>
    <div id="edit_form">
        <form class="form form-horizontal" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

            {% if form.errors['generic'] %}
                <div>
                    <span class="label label-important">{{ form.errors['generic'] }}</span>
                </div>
            {% endif %}

            {{ wtf.form_errors(form, False) }}

            {{ wtf.horizontal_field(form.image_file) }}
            {{ wtf.horizontal_field(form.orientation) }}
            {{ wtf.horizontal_field(form.application_type) }}
            {{ wtf.horizontal_field(form.is_background) }}

            <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-primary">Upload Promo Poster</button>
            </div>
        </form>
    </div>
{% endblock %}