{% extends "base.html" %}
{% block title %}Show Promo: {{ promo.name }}{% endblock %}
{% block extra_style %}
    <style type="text/css">
        .seats_status .controls label {
            font-size: 0.8em;
        }
        .seats_status ul li {
            display: inline-block;
            list-style: none;
            padding: 12px;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1><a href="{{ url_for('.promo_update_and_show', promo_id=promo.key.id()) }}">{{ promo.name }}</a>
        > Seats Status</h1>
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div id="edit_form" class="span8 seats_status">
        <form class="form form-horizontal" method="post"
                action="{{ url_for('.promo_seats_status', promo_id=promo.key.id()) }}">
            {{ form.csrf_token }}
            {% if form.errors['generic'] %}
                <div>
                    <span class="label label-important">{{ form.errors['generic'] }}</span>
                </div>
            {% endif %}
            
            {{ wtf.form_errors(form, False) }}

            {{ wtf.horizontal_field(form.seats_blacklist) }}
            {{ wtf.horizontal_field(form.seats_locked) }}
            {{ wtf.horizontal_field(form.seats_purchased) }}

            <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
{% endblock %}