{% extends "base.html" %}
{% block title %}Purchase Report{% endblock %}
{% block extra_style %}
    <link href="{{url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>
            <a href="{{ url_for('.promo_transactions_index') }}">Transactions</a>
            > Purchase Report
        </h1>
    </div>
    <div class="row-fluid page-header" style="margin-bottom: 5px; ">
        <form class="form form-horizontal" method="get" id="transactions_purchase_reports_form"
                action="{{ url_for('.promo_transactions_purchase_report_index', render_data={}) }}">
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="transactions_from">Transactions From</label>
                    <div class="controls">
                        <input id="transactions_from" name="transactions_from" type="text"
                                {% if render_data.filters.transactions_from %}value="{{ render_data.filters.transactions_from }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="transactions_to">Transactions To</label>
                    <div class="controls">
                        <input id="transactions_to" name="transactions_to" type="text"
                                {% if render_data.filters.transactions_to %}value="{{ render_data.filters.transactions_to }}" {% endif %}/>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="purchase_reports_search_btn">
                        <i class="icon-search icon-white"></i>&nbsp;Search
                    </button>
                    <button type="button" class="btn" id="purchase_reports_export_btn">
                        <i class="icon-download icon-white"></i>&nbsp;Export to XLS
                    </button>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="promo_names">Promo Names</label>
                    <div class="controls">
                        <select id="promo_names" name="promo_names">
                            <option value="" {% if promo_names == '' %}selected="selected"{% endif %}></option>
                            {% for promo_name in render_data.promo_names %}
                                <option value="{{ promo_name }}" {% if promo_name == render_data.filters.promo_name %}selected="selected"{% endif %}>{{ promo_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="theater_names">Theater</label>
                    <div class="controls">
                        <select id="theater_names" name="theater_names">
                            <option value="" {% if theater_name == '' %}selected="selected"{% endif %}></option>
                            {% for theater_name in render_data.theater_names %}
                                <option value="{{ theater_name }}" {% if theater_name == render_data.filters.theater_name %}selected="selected"{% endif %}>{{ theater_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="payment_type">Payment Type</label>
                    <div class="controls">
                        <select id="payment_type" name="payment_type">
                            <option value="" {% if render_data.filters.payment_type == '' %}selected="selected"{% endif %}></option>
                            <option value="mpass" {% if render_data.filters.payment_type == 'mpass' %}selected="selected"{% endif %}>MPass</option>
                            <option value="gmovies-promo" {% if render_data.filters.payment_type == 'gmovies-promo' %}selected="selected"{% endif %}>Promo Code</option>
                            <option value="client-initiated" {% if render_data.filters.payment_type == 'client-initiated' %}selected="selected"{% endif %}>Client Initiated</option>
                            <option value="ipay88-payment-initiated" {% if render_data.filters.payment_type == 'ipay88-payment-initiated' %}selected="selected"{% endif %}>IPay88 Payment Initiated</option>
                            <option value="paynamics-payment-initiated" {% if render_data.filters.payment_type == 'paynamics-payment-initiated' %}selected="selected"{% endif %}>Paynamics Payment Initiated</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="platform">Platform</label>
                    <div class="controls">
                        <select id="platform" name="platform">
                            <option value="" {% if render_data.filters.platform == '' %}selected="selected"{% endif %}></option>
                            <option value="android" {% if render_data.filters.platform == 'android' %}selected="selected"{% endif %}>Android</option>
                            <option value="ios" {% if render_data.filters.platform == 'ios' %}selected="selected"{% endif %}>iOS</option>
                            <option value="windows10" {% if render_data.filters.platform == 'windows10' %}selected="selected"{% endif %}>Windows 10</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% if render_data.promo_transactions.summary %}
                <div>
                    <h4 style="margin: 0; padding: 10px; background-color: #f9f9f9; "><div align="center">Summary</div></h1>
                </div>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Purchased Date</th>
                            <th style="text-align: right;">Transactions</th>
                            <th style="text-align: right;">Tickets Sold</th>
                            <th style="text-align: right;">Net Sales</th>
                            <th style="text-align: right;">Net Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date_purchased in render_data.purchased_date %}
                            <tr>
                                <td style="text-align: center;">
                                    {{ render_data['promo_transactions']['summary'][date_purchased.strftime("%m-%d-%Y")]['date'] }}
                                </td>
                                <td style="text-align: right;">
                                    {{ "{:,.2f}".format(render_data['promo_transactions']['summary'][date_purchased.strftime("%m-%d-%Y")]['transactions']) }}
                                </td>
                                <td style="text-align: right;">
                                    {{ "{:,.2f}".format(render_data['promo_transactions']['summary'][date_purchased.strftime("%m-%d-%Y")]['tickets_sold']) }}
                                </td>
                                <td style="text-align: right;">
                                    {{ "{:,.2f}".format(render_data['promo_transactions']['summary'][date_purchased.strftime("%m-%d-%Y")]['gross_sales']) }}
                                </td>
                                <td style="text-align: right;">
                                    {{ "{:,.2f}".format(render_data['promo_transactions']['summary'][date_purchased.strftime("%m-%d-%Y")]['net_revenue']) }}
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td style="text-align: center;"><div style="font-weight: bold; padding: 10px;">Total</div></td>
                                <td>
                                    <div style="font-weight: bold; padding: 10px 0; text-align: right;">
                                        {{ "{:,.2f}".format(render_data.promo_transactions.grand_total.transactions) }}
                                    </div>
                                </td>
                                <td>
                                    <div style="font-weight: bold; padding: 10px 0; text-align: right;">
                                        {{ "{:,.2f}".format(render_data.promo_transactions.grand_total.tickets_sold) }}
                                    </div>
                                </td>
                                <td>
                                    <div style="font-weight: bold; padding: 10px 0; text-align: right;">
                                        {{ "{:,.2f}".format(render_data.promo_transactions.grand_total.gross_sales) }}
                                    </div>
                                </td>
                                <td>
                                    <div style="font-weight: bold; padding: 10px 0; text-align: right;">
                                        {{ "{:,.2f}".format(render_data.promo_transactions.grand_total.net_revenue) }}
                                    </div>
                                </td>
                            </tr>
                    </tbody>
                </table>
            {% else %}
                No Completed Transactions
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='transactions.js') }}"></script>
{% endblock %}