{% extends "base.html" %}
{% block title %} Show Reservation {% endblock %}
{% block container_content %}
    <script type=text/javascript src="{{url_for('static', filename='reservation_info.js') }}"></script>
    <form class="form form-horizontal" method="post" action="{{ url_for('.reservation_update', transaction_id=transaction_id) }}">
        {{ form.csrf_token }}
        {% if form.errors['generic'] %}
            <div>
                <span class="label label-important">{{ form.errors['generic'] }}</span>
            </div>
        {% endif %}
        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.theater) }}
        {{ wtf.horizontal_field(form.schedule) }}
        {{ wtf.horizontal_field(form.time) }}
        {{ wtf.horizontal_field(form.cinema, readonly=true) }}
        {{ wtf.horizontal_field(form.seat_id) }}
        {{ form.reservation_index }}

        <div class="form-actions">
           <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
{% endblock %}