{% extends "base.html" %}
{% block title %} Schedule {% endblock %}
{% block container_content %}
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="page-header">
        <h3>Schedule</h3>
    </div>
    <div>
        {% if schedules %}
            <uls>
            {% for s in schedules %}
                <li><a href="{{ url_for('.schedule_show', theater_id=s['theater'], schedule_id=s['id']) }}">{{ s['movie']['canonical_title'] }}-{{ s['cinema'] }}</a></li>
            {% endfor %}
        {% endif %}
    </div>
    <a href="{{ url_for('.schedule_new') }}">Add Schedule</a>
    <br>
    <a href="">Upload File</a>
{% endblock %}
