{% extends "base.html" %}
{% block title %}{{ theater_name }}, Cinema {{ schedule.cinema }}, {{ schedule.show_date }}{% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1><a href="{{ url_for('.theater_show', theater_id=theater_id) }}">{{ theater_name }}</a></h1>
      <h2><a href="{{ url_for('.cinema_show', theater_id=theater_id, cinema_name=schedule.cinema) }}">Cinema {{ schedule.cinema }}</a> &gt; {{ schedule.show_date }}</h2>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div id="edit_form">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>Feed Code</th>
                    <th>Schedule Feed Code</th>
                    <th>Movie</th>
                    <th>Variant</th>
                    <th>Seating Type</th>
                    <th>Price</th>
                    <th>Popcorn Price</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for slot in schedule.sorted_slots() %}
                    <tr>
                        <td><a href="{{ url_for('.slot_edit', theater_id=theater_id, schedule_id=schedule_id, slot_idx=loop.index0) }}">{{ slot.start_time }}</a> {% if is_conflict(schedule.sorted_slots(), slot, loop.index0) %}<span class="label label-warning">Possible Conflict</span>{% endif %}</td>
                        <td>{{ slot.feed_code }}</td>
                        <td>{{ slot.feed_code_schedule }}</td>
                        <td><a href="{{ url_for('.movie_update_and_show', movie_id=slot.movie.id())}}">{{ canonical_title(slot.movie) }}</a></td>
                        <td>{{ slot.variant }}</td>
                        <td>{{ slot.seating_type }}</td>
                        <td>{{ slot.price }}</td>
                        <td>{{ slot.popcorn_price }}</td>
                        <td><button name="action_delete" type="submit" class="btn btn-danger btn-small" data-button='{"slot_idx":"{{loop.index0}}","start_time":"{{slot.start_time}}"}'><i class="icon-trash icon-white"></i>&nbsp;Delete</button><td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="text-right">
      <a class="btn" href="{{ url_for('.slot_new', theater_id=theater_id, schedule_id=schedule_id) }}">Add Time Slot</a>
      {% if schedule.sorted_slots()|length %}<a class="btn btn-danger" name="purge-slots">Purge Time Slots</a>{% endif %}
    </div>
{% endblock %}
{% block bootboxjs %}
    <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>

    <script type="text/javascript">
        var THEATER_ID = "{{theater_id}}";
        var SCHEDULE_ID = "{{schedule_id}}";
        var DELETE_SLOT_URL = "/admin/theaters/{{theater_id}}/schedules/{{schedule_id}}/";
        var PURGE_SLOTS_URL = "/admin/theaters/{{theater_id}}/schedules/{{schedule_id}}/slots/purge";

        $(document).on("click", "a[name='purge-slots']", function(e) {
            e.preventDefault()
            bootbox.confirm("Purge all time slots?", function(result) {
                if(result){
                    var form = $("<form>")
                        .attr("action", PURGE_SLOTS_URL)
                        .attr("method", "post");

                    $("body").append(form);
                    form.submit();
                }
            })
        });
        $(document).on("click", "button[name='action_delete']", function(e) {
            e.preventDefault();
            var d = $.parseJSON($(this).attr("data-button"));
            bootbox.confirm("You are about to delete <strong>"+ d.start_time +"</strong> timeslot. Delete now?", function(result) {
                    if(result){
                        var form = $("<form>")
                            .attr("action", DELETE_SLOT_URL + "slots/"+d.slot_idx+"/delete" )
                            .attr("method", "post")
                            .append($("<input>")
                                       .attr("type", "hidden")
                                       .attr("name", "theater_id")
                                       .attr("value", THEATER_ID)
                                    )
                            .append($("<input>")
                                       .attr("type", "hidden")
                                       .attr("name", "schedule_id")
                                       .attr("value", SCHEDULE_ID)
                                    )
                            .append($("<input>")
                                       .attr("type", "hidden")
                                       .attr("name", "schedule_id")
                                       .attr("value", d.slot_idx )
                                    );

                        $("body").append(form);
                        form.submit();
                    }
            });
        });
        </script>
{% endblock %}