{% extends "base.html" %}
{% block title %}{{ theater_name }}, Cinema {{ schedule.cinema }}, {{ schedule.show_date }} ({{ slot.start_time|d('New', true) }}){% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1><a href="{{ url_for('.theater_show', theater_id=theater_id) }}">{{ theater_name }}</a></h1>
      <h2><a href="{{ url_for('.cinema_show', theater_id=theater_id, cinema_name=schedule.cinema) }}">Cinema {{ schedule.cinema }}</a> &gt; <a href="{{ url_for('.schedule_show', theater_id=theater_id, schedule_id=schedule_id) }}">{{ schedule.show_date }}</a> &gt; {{ slot.start_time|d('New', true) }}</h2>
    </div>
    <div id="edit_form">
      <form class="form form-horizontal" method="post">
        {{ form.csrf_token }}
        {% if form.errors['generic'] %}
        <div>
          <span class="label label-important">{{ form.errors['generic'] }}</span>
        </div>
        {% endif %}
        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.start_time) }}
        {{ wtf.horizontal_field(form.movie_title) }}
        {{ wtf.horizontal_field(form.variant) }}

        {{ wtf.horizontal_field(form.seating_type) }}
        {{ wtf.horizontal_field(form.price) }}

        <div class="form-actions">
           <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
{% endblock %}
