{% extends "base.html" %}
{% block title %} Schedule {% endblock %}
{% block container_content %}
    <form class="form form-horizontal" method="post" action="{{ url_for('.schedule_create', theater_id=theater_id) }}">
        {{ form.csrf_token }}
        {% if form.errors['generic'] %}
            <div>
                <span class="label label-important">{{ form.errors['generic'] }}</span>
            </div>
        {% endif %}
        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.cinema) }}
        {{ wtf.horizontal_field(form.show_date) }}

        <div class="form-actions">
           <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
{% endblock %}

