{% extends "base.html" %}
{% block title %}{{ movie_title.title }}, Secondary Movie Title ({{ secondary_title.movie_title|d('New', true) }}){% endblock %}
{% block container_content %}
    <div class="page-header">
        <h2><a href="{{ url_for('.movie_title_update_and_show', movie_title_id=movie_title.key.id()) }}">{{ movie_title.title }}</a> &gt; {{ secondary_title.movie_title|d('New', true) }}</h2>
    </div>
    <div id="edit_form">
        <form class="form form-horizontal" method="post">
            {{ form.csrf_token }}

            {% if form.errors['generic'] %}
                <div>
                    <span class="label label-important">{{ form.errors['generic'] }}</span>
                </div>
            {% endif %}

            {{ wtf.form_errors(form, False) }}
            
            {% if is_lookup %}
                {{ wtf.horizontal_field(form.secondary_title_lookup) }}
            {% else %}
                {{ wtf.horizontal_field(form.movie_title) }}
            {% endif %}

            <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-primary">Save Secondary Movie Title</button>
            </div>
        </form>
    </div>
{% endblock %}