{% extends "base.html" %}
{% block title %} Register New Service {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>Register new service</small></h1>
      <div class="btn-group">
        <a class="btn btn-small" href="{{ url_for('.services_index')}}">Back to Services</a>
      </div>
    </div>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="span6 offset3 alert alert-info">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}
    

    <div class="row-fluid">
      <div id="edit_form" class="span12">
        <form class="form form-horizontal" method="post" action="{{ url_for('.service_create') }}">
          {{ form.csrf_token }}
          {{form.hidden_tag()}}
          {% if form.errors['generic'] %}
              <div>
                  <span class="label label-important">{{ form.errors['generic'] }}</span>
              </div>
          {% endif %}
          {{ wtf.horizontal_field(form.service_name) }}
          {{ wtf.horizontal_field(form.active) }}
          {{ wtf.horizontal_field(form.service_code) }}
          {{ wtf.horizontal_field(form.description) }}
          {{ wtf.horizontal_field(form.value) }}
          {{ wtf.horizontal_field(form.platform) }}

          <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>

{% endblock %}
