{% extends "base.html" %}
{% block title %} List Analytics Services Status {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>Analytics Services</h1>
      <div class="btn-group">
        <a class="btn btn-small" href="{{ url_for('.service_new')}}">Add New Service</a>
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="span6 offset3 alert alert-info">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}
    <div>
      <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Service Name</th>
              <th>Code</th>
              <th>Description</th>
              <th>Value</th>
              <th>Is Active</th>
              <th>Platform</th>
            </tr>
          </thead>
          <tbody>
            {% if services %}
              {% for s in services %}
              <tr>
                <td><a href="{{ url_for('.service_show', service_id=s.key.id()) }}">{{ s.service_name }}</a></td>
                <td>{{ s.service_code }}</td>
                <td>{{ s.description }}</td>
                <td>{{ s.value }}</td>
                <td>{{ s.active }}</td>
                <td>
                  {% for p in s.platform %}
                    {{ p }}<br />
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            {% else %}
              <tr><td colspan="3">No registered services yet.</td></tr>
            {% endif %}
          </tbody>
      </table>
    </div>
{% endblock %}
