{% extends "base.html" %}
{% block title %} Show Service: {{ service.service_name }} {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>{{ service.service_name }}</h1>
      <div class="btn-group">
        <a class="btn btn-small" href="{{ url_for('.services_index')}}">Back to Services</a>
      </div>
    </div>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="span6 offset3 alert alert-info">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}

    <div class="row-fluid">
      <div id="edit_form" class="span6">
        <h3>Update Service</h3>
        <form class="form form-horizontal" method="post" action="{{ url_for('.service_update', service_id=service_id) }}">
          {{ form.csrf_token }}
          {{ wtf.form_errors(form, False) }}

          {{ wtf.horizontal_field(form.service_name) }}
          {{ wtf.horizontal_field(form.active) }}
          {{ wtf.horizontal_field(form.service_code) }}
          {{ wtf.horizontal_field(form.description) }}
          {{ wtf.horizontal_field(form.value) }}
          {{ wtf.horizontal_field(form.platform) }}

          <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      <div class="span6">
        <h3>History</h3>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Date</th>
              <th>State</th>
              <th>Platform</th>
            </tr>
          </thead>
          <tbody>
            {% if history %}
            {% for h in history %}
            <tr>
              <td>{{ h.datetime|datetimeformat(format='short') }}</td>
              <td>{% if h.state == True %} Active {% elif h.state == False %} Inactive {% endif %}</td>
              <td>
                {% for p in h.platform %}
                  {{ p }}<br />
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="2">No history yet.</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}
