{% extends "base.html" %}
{% block title %} Show Theater Organization: {{ theater_org.name }} {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>{{ theater_org.name }} <small>{{ theater_org.key.id() }}</small></h1>
    </div>

    <div class="row-fluid">
      <div id="edit_form" class="span9">
        <div class="row-fluid">
          <div class="span8">
            <form class="form form-horizontal" method="post"
                  action="{{ url_for('.theaterorg_update', org_id=org_id) }}" enctype="multipart/form-data">
              {{ form.csrf_token }}
              {{ wtf.form_errors(form, False) }}

              {{ wtf.horizontal_field(form.name) }}
              {{ wtf.horizontal_field(form.pubkey) }}
              {{ wtf.horizontal_field(form.access_code) }}
              {{ wtf.horizontal_field(form.ticket_remarks) }}
              {{ wtf.horizontal_field(form.sort_priority) }}
              {{ wtf.horizontal_field(form.is_qrcode_ticket) }}
              {{ wtf.horizontal_field(form.is_published) }}

              <h3>Ticket Templates</h3>
              <ul><strong>Generic Ticket Template</strong></ul>
              {{ wtf.horizontal_field(form.template) }}
              {{ wtf.horizontal_field(form.template_image_file) }}

              <ul><strong>Movie Ticket Template</strong></ul>
              {{ wtf.horizontal_field(form.movie_ticket_template) }}
              <div class="control-group ">
                <label class="control-label">Movie Ticket Template Image</label>
                <div class="control" style="margin-left: 180px; padding-top: 5px; text-align: left"><strong>Please upload ticket template image to movie info.</strong></div>
              </div>

              <ul><strong>Theater Organization Ticket Template</strong></ul>
              {{ wtf.horizontal_field(form.theaterorg_ticket_template) }}
              {{ wtf.horizontal_field(form.theaterorg_template_image_file) }}
              {{ wtf.horizontal_field(form.is_theaterorg_ticket_template) }}
              {{ wtf.horizontal_field(form.is_old_ticket_template) }}

              <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
          {% if theater_org.template_image %}
            <span class="span4" style="padding-bottom: 10px"><strong>Generic Ticket Template</strong></span>
            <img class="span4 img-polaroid" src="data:image/png;base64,{{ theater_org.template_image.encode('base64') }}" />
          {% endif %}
          {% if theaterorg_ticket_template_image %}
            <span class="span4" style="padding-top: 25px; padding-bottom: 10px"><strong>Theater Organization Ticket Template</strong></span>
            <img class="span4 img-polaroid" src="data:image/png;base64,{{ theaterorg_ticket_template_image.image.encode('base64') }}" />
          {% endif %}
        </div>
      </div>
      <div class="span3 pullout-list">
        <h3>Theaters</h3>
        {% if theaters %}
        <ul class="unstyled">
          {% for t in theaters %}
          <li><a href="{{ url_for('.theater_show', theater_id=encoded_theater_id(t.key)) }}">{{ t.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <i>None</i>
        {% endif %}
      </div>
    </div>

{% endblock %}
