{% extends "base.html" %}
{% block title %} Create a New Theater {% endblock %}
{% block container_content %}
    <form class="form form-horizontal" method="post" action="{{ url_for('.theater_create') }}">
        {{ form.csrf_token }}
        {% if form.errors['generic'] %}
            <div>
                <span class="label label-important">{{ form.errors['generic'] }}</span>
            </div>
        {% endif %}
        {{ wtf.form_errors(form, False) }}

        <div class="control-group">
          <label class="control-label" for="theater_organization">Theater Organization</label>
          <div class="controls">
            <select id='theater_organization' name='theater_organization'>
              {% for theaterorg in theaterorgs %}
                <option value='{{ theaterorg.key.id() }}'>{{ theaterorg.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.address) }}
        {{ wtf.horizontal_field(form.latitude) }}
        {{ wtf.horizontal_field(form.longitude) }}
        {{ wtf.horizontal_field(form.org_theater_code) }}
        {{ wtf.horizontal_field(form.location_code) }}
        {{ wtf.horizontal_field(form.is_published) }}
        {{ wtf.horizontal_field(form.is_partner) }}
        {{ wtf.horizontal_field(form.error_title) }}
        {{ wtf.horizontal_field(form.error_message) }}
        {{ wtf.horizontal_field(form.error_message_seatmaps_android) }}
        {{ wtf.horizontal_field(form.error_message_seatmaps_ios) }}

        <div class="form-actions">
           <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
{% endblock %}

