{% extends "base.html" %}
{% block title %} Create a New Theater Organization {% endblock %}
{% block container_content %}
    <form class="form form-horizontal" method="post"
            action="{{ url_for('.theaterorg_create') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% if form.errors['generic'] %}
            <div>
                <span class="label label-important">{{ form.errors['generic'] }}</span>
            </div>
        {% endif %}
        {{ wtf.form_errors(form, False) }}

        {{ wtf.horizontal_field(form.name) }}
        {{ wtf.horizontal_field(form.pubkey) }}
        {{ wtf.horizontal_field(form.access_code) }}
        {{ wtf.horizontal_field(form.template) }}
        {{ wtf.horizontal_field(form.movie_ticket_template) }}
        {{ wtf.horizontal_field(form.template_image_file) }}

        <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
{% endblock %}
