{% extends "base.html" %}
{% block title %} Show Theater: {{ theater.name }} {% endblock %}
{% block container_content %}
    <div class="page-header">
      <h1>{{ theater.name }} ({{ theater.key.parent().get().name }})</h1>
      <div class="btn-group">
        <a class="btn btn-small" href="{{ url_for('.cinema_new', theater_id=encoded_theater_id(theater.key)) }}">Create New Cinema</a>
        <a class="btn btn-small" href="{{ url_for('.schedule_new', theater_id=encoded_theater_id(theater.key)) }}">Create New Schedule</a>
        <a class="btn btn-small" href="{{ url_for('.schedule_upload', theater_id=encoded_theater_id(theater.key)) }}">Upload Schedule File</a>
      </div>
    </div>
    <div class="row-fluid">
      <div id="edit_form" class="span8">
        <form class="form form-horizontal" method="post" action="{{ url_for('.theater_show', theater_id=theater_id) }}" enctype="multipart/form-data">
          {{ form.csrf_token }}
          {% if form.errors['generic'] %}
            <div>
              <span class="label label-important">{{ form.errors['generic'] }}</span>
            </div>
          {% endif %}

          {{ wtf.form_errors(form, False) }}

          {{ wtf.horizontal_field(form.name) }}
          {{ wtf.horizontal_field(form.address) }}
          {{ wtf.horizontal_field(form.latitude) }}
          {{ wtf.horizontal_field(form.longitude) }}
          {{ wtf.horizontal_field(form.org_theater_code) }}
          {{ wtf.horizontal_field(form.location_code) }}
          {{ wtf.horizontal_field(form.image_url) }}
          {{ wtf.horizontal_field(form.theater_image_file) }}

          {% if theater.branch_id %}
            <div class="control-group">
              <label class="control-label" for="mgi-branch-id">MGi Branch ID</label>
              <div class="controls">
                <input id="mgi-branch-id" name="mgi-branch-id" type="text" disabled value="{{ theater.branch_id }}">
              </div>
            </div>
          {% endif %}

          {{ wtf.horizontal_field(form.is_published) }}
          {{ wtf.horizontal_field(form.is_partner) }}
          {{ wtf.horizontal_field(form.error_title) }}
          {{ wtf.horizontal_field(form.error_message) }}
          {{ wtf.horizontal_field(form.error_message_seatmaps_android) }}
          {{ wtf.horizontal_field(form.error_message_seatmaps_ios) }}

          {% if is_payment_enabled(theater.key.parent().id()) %}
            {{ wtf.horizontal_field(form.allow_reservation) }}
            {{ wtf.horizontal_field(form.allow_reservation_platform) }}
            {{ wtf.horizontal_field(form.allow_discount_code) }}
            {{ wtf.horizontal_field(form.is_multiple_tickets) }}

            <div class="alert alert-block">
              <p><strong><h4>Warning</h4> Make sure you know what you are doing.</strong> Incorrect use of these settings may impair the functionality of the GMovies backend &mdash; including, but not limited to the handling of reservation transactions, client API requests, and backend API
              processing.</p>

              <p>If you do not know what these settings are, <strong>DO NOT CHANGE THEM</strong>.</p>

              <p>Proceed with caution.</p>
            </div>
            <div class="alert alert-block alert-info">
              <h4><strong>Notes:</strong></h4>
              <p>1. Pesopay and MPass payment options are only available for Ayala Cinemas. Before enabling Pesopay payment option, make sure that Pesopay payment details for this theater is already set. See <a href="{{ url_for('.payment_settings_index', payment_identifier='pesopay') }}"><strong>Pesopay Payment Settings</strong></a></p>
              <p>2. Ipay88 payment option is currrent available for Rockwell PowerPlant Mall.</p>
              <p>3. Bitcoin payment option is not yet available. Don't enable this for now.</p>
            </div>
            {{ wtf.horizontal_field(form.payment_gateway) }}
            <div class="row-fluid">
              <div class="span6">
                {{ wtf.horizontal_field(form.payment_options, class="checkbox") }}
              </div>
              <div class="span6">
                {{ wtf.horizontal_field(form.payment_options_android, class="checkbox") }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6">
                {{ wtf.horizontal_field(form.payment_options_website, class="checkbox") }}
              </div>
            </div>
          {% else %}
            <div class="control-group ">
              <label class="control-label">Allow Reservation</label>
              <div class="control" style="margin-left: 180px; padding-top: 5px; text-align: left"><strong>Not Applicable in this Theater.</strong></div>
            </div>
            <div class="control-group ">
              <label class="control-label">Allow Reservation Platform</label>
              <div class="control" style="margin-left: 180px; padding-top: 5px; text-align: left"><strong>Not Applicable in this Theater.</strong></div>
            </div>
            <div class="control-group ">
              <label class="control-label">Allow Discount Code</label>
              <div class="control" style="margin-left: 180px; padding-top: 5px; text-align: left"><strong>Not Applicable in this Theater.</strong></div>
            </div>
            <div class="control-group ">
              <label class="control-label">Is Multiple Tickets</label>
              <div class="control" style="margin-left: 180px; padding-top: 5px; text-align: left"><strong>Not Applicable in this Theater.</strong></div>
            </div>
          {% endif %}
          <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      <div class="span2 pullout-list">
        {% if theater.image_url %}
          <img class="img-polaroid" src='{{ theater.image_url }}'>
        {% elif assets_entity %}
          <img class="img-polaroid" src='{{ get_serving_url(assets_entity.image) }}'>
        {% endif %}
        <h3>Cinemas</h3>
        <span>
          {% if theater.cinemas %}
          <ul class="unstyled">
            {% for c in theater.cinemas %}
            <li><a href="{{ url_for('.cinema_show', theater_id=encoded_theater_id(theater.key), cinema_name=c.name) }}">{{ c.name }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
          No Cinemas yet
          {% endif %}
        </span>
        <h3>Schedules</h3>
        <span>
          {% if schedules %}
            <ul class="unstyled">
              {% for s in schedules %}
              <li><a href="{{ url_for('.schedule_show', theater_id=encoded_theater_id(s.key.parent()), schedule_id=s.key.id()) }}">{{ s.cinema }} on {{ s.show_date }}</a>{% if has_slots_conflict( s.key.id(), encoded_theater_id( s.key.parent() ) ) %}<span class="label label-warning">PC</span>{% endif %}</li>
              {% endfor %}
            </ul>
          {% else %}
            No Schedules
          {% endif %}
        </span>
      </div>
    </div>
{% endblock %}
