{% extends "base.html" %}
{% block title %} List All Theaters {% endblock %}
{% block extra_style %}
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Theaters</h1>
        <div class="btn-group">
          <a class="btn btn-small" href="{{ url_for('.theater_new') }}">Add Theater</a>
          <a class="btn btn-small" href="{{ url_for('.theater_upload') }}">Upload File</a>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <ul class="nav nav-tabs" role="tablist">
      {% for theater_org in theater_orgs %}
        <li {% if loop.index == 1 %}class="active"{% endif %}><a href="#{{ theater_org.name.replace(' ', '_').lower() }}" role="tab" data-toggle="tab">{{ theater_org.name }}</a></li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      {% for index, theaters in enumerate(theater_groups) %}
        <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="{{ theater_orgs[index].name.replace(' ', '_').lower() }}">
          {% if theaters %}
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                {% if theaters[0].key.parent().id() in integrated_orgs %}
                  <td><a class="btn btn-small" id="fetch_schedules_orgs" data-code="{{ theaters[0].key.parent().id() }}" href="#">Refresh Schedules</a></td>
                {% endif %}
                {% if switch_status[index] %}
                  <td><a class="btn btn-small" id="theater_master_switch_disable" data-status="0" data-theaterorg="{{ theater_orgs[index].key.id() }}" href="#">Disable All Booking</a></td>
                {% else %}
                  <td><a class="btn btn-small" id="theater_master_switch_enable" data-status="1" data-theaterorg="{{ theater_orgs[index].key.id() }}"href="#">Enable All Booking</a></td>
                {% endif %}
                </tr>
                <tr>
                  <th>Theater</th>
                  <th>Published</th>
                  <th>Allow Reservation</th>
                  <th>Multiple Tickets</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for t in theaters %}
                  <tr>
                    <td>
                      <a href="{{ url_for('.theater_show', theater_id=encoded_theater_id(t.key)) }}">{{ t.name }}</a>
                    </td>
                    <td>
                      {% if t.is_published %}
                        <span class="label label-success">{{ t.is_published }}</span>
                      {% else %}
                        <span class="label">{{ t.is_published }}</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if is_payment_enabled(t.key.parent().id()) %}
                        {% if t.allow_reservation %}
                          <span class="label label-success">{{t.allow_reservation}}</span>
                        {% else %}
                          <span class="label">{{t.allow_reservation}}</span>
                        {% endif %}
                      {% else %}
                        <span class="label label-inverse">Not Applicable</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if is_payment_enabled(t.key.parent().id()) %}
                        {% if t.is_multiple_tickets %}
                          <span class="label label-success">{{ t.is_multiple_tickets }}</span>
                        {% else %}
                          <span class="label">{{ t.is_multiple_tickets }}</span>
                        {% endif %}
                      {% else %}
                        <span class="label label-inverse">Not Applicable</span>
                      {% endif %}
                    </td>
                    {% if t.org_theater_code in integrated_theaters %}
                    <td>
                      <a class="btn btn-small" 
                        id="fetch_schedules_by_theater" 
                        data-code="{{ t.org_theater_code }}" 
                        href="#">Refresh Schedules
                      </a>
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            No Theaters Available.
          {% endif %}
        </div>
      {% endfor %}
    </div>
{% endblock %}
{% block bootboxjs %}
    <script type="text/javascript" src="{{url_for('static', filename='bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>
    <script type="text/javascript">

        $("#fetch_schedules_orgs, #fetch_schedules_by_theater").click(function() {
            var code = $(this).data('code');
            var url = "";

            switch(code){
              case '31cb3b6b-a727-11e2-9b13-c8bcc88ea4ac':
                    url = '/tasks/fetch/schedules/ayala';
                    break;
              case 'RWPP':
                    url = '/tasks/fetch/schedules/rockwell';
                    break;                    
              case 'LCT':
                    url = '/tasks/fetch/schedules/megaworld';
                    break;
            }

            console.log(code);
            $.isLoading({ text: "Initiating background task. Please wait..." });
            $.ajax({
                    url: url,
                    type: "GET",
                    success: function(data) {
                        switch (data.status) {
                            case 'ok':
                                $.isLoading("hide");
                                bootbox.alert("Task is now running in the background. Movie schedules will be updated soon.");
                                return;
                            case 'error':
                                $.isLoading("hide");
                                bootbox.alert("ERROR! Unable to fetch schedules this time. Please try again.");
                                return;
                            default:
                                $.isLoading("hide");
                                bootbox.alert("ERROR! Unable to fetch schedules this time. Please try again.");
                                return;
                        }
                    },
                    error : function(jqXHR, textStatus, errorThrown) { 
                        if(jqXHR.status == 404 || errorThrown == 'Not Found') 
                        { 
                            $.isLoading("hide");
                            console.log('There was a 404 error.'); 
                            bootbox.alert("ERROR! Unable to fetch schedules this time. Please try again.")
                        }
                    }
            });
            
        });

        $("#theater_master_switch_disable, #theater_master_switch_enable").click(function() {
          
          var new_status = $(this).data('status');
          var theaterorg = $(this).data('theaterorg');
          var url = '/tasks/theaters/master-reservation-switch';
          
          $.isLoading({ text: "Initiating background task. Please wait..." });
          $.ajax({
            url: url,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            data: JSON.stringify({"new_status": new_status, "theaterorg":theaterorg}),
            
            success: function(data) 
            {
              switch (data.status) 
              {
                case 'ok':
                    $.isLoading("hide");
                    alert("Success");
                    location.reload();
                    return;
                case 'error':
                    alert("error");
                    $.isLoading("hide");
                    alert("ERROR! Please try again.");
                    return;
                default:
                    alert("default");
                    $.isLoading("hide");
                    alert("ERROR! Please try again");
                    return;
              }
            },
            error : function(jqXHR, textStatus, errorThrown) { 
                if(jqXHR.status == 404 || errorThrown == 'Not Found') 
                { 
                    alert("ERROR! Please try again.");
                    $.isLoading("hide");
                    console.log('There was a 404 error.'); 
                    alert("ERROR!! Please try again.")
                }
            }
          });

        });
    </script>
{% endblock %}
