{% extends "base.html" %}
{% block title %} List All Theaters Organization {% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Theater Organization</h1>
        <div class="btn-group">
          <a class="btn btn-small" href="{{ url_for('.theaterorg_new') }}">Add Theater Organization</a>
        </div>
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <div>
        <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Theater Organizations</th>
                <th>Theater Organization ID</th>
              </tr>
            </thead>
            <tbody>
              {% for o in theater_orgs %}
              <tr>
                <td><a href="{{ url_for('.theaterorg_show', org_id=o) }}">{{ theater_orgs[o] }}</a></td>
                <td>{{ o }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
