{% extends "base.html" %}
{% block title %}List All Cash Transactions Cancelled{% endblock %}
{% block extra_style %}
    <link href="{{url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>
            <a href="{{ url_for('.transactions_index') }}">Transactions</a>
            > Cancelled (Cash)
        </h1>
    </div>
    <div class="row-fluid page-header">
        <form class="form form-horizontal" method="get" id="transactions_sales_reports_form"
                action="{{ url_for('.transactions_cancelled_cash') }}">
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="transactions_from">Transactions From</label>
                    <div class="controls">
                        <input id="transactions_from" name="transactions_from" type="text"
                                {% if transactions_from %}value="{{ transactions_from }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="transactions_to">Transactions To</label>
                    <div class="controls">
                        <input id="transactions_to" name="transactions_to" type="text"
                                {% if transactions_to %}value="{{ transactions_to }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group" style="display: none;">
                    <label class="control-label" for="theater_id">Theater</label>
                    <div class="controls">
                        <select id="theater_id" name="theater_id">
                            <option value="" {% if theater_id == '' %}selected="selected"{% endif %}></option>
                            {% for theater in theaters %}
                                <option value="{{ theater.key.id() }}" {% if theater.key.id() == theater_id %}selected="selected"{% endif %}>{{ theater.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="platform">Platform</label>
                    <div class="controls">
                        <select id="platform" name="platform">
                            <option value="" {% if platform == '' %}selected="selected"{% endif %}></option>
                            <option value="android" {% if platform == 'android' %}selected="selected"{% endif %}>Android</option>
                            <option value="ios" {% if platform == 'ios' %}selected="selected"{% endif %}>iOS</option>
                            <option value="website" {% if platform == 'website' %}selected="selected"{% endif %}>Website</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="payment_reference">Payment Ref Code</label>
                    <div class="controls">
                        <input id="payment_reference" name="payment_reference" type="text"
                                {% if payment_reference %}value="{{ payment_reference }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="reservation_reference">Reservation Ref Code</label>
                    <div class="controls">
                        <input id="reservation_reference" name="reservation_reference" type="text"
                                {% if reservation_reference %}value="{{ reservation_reference }}" {% endif %}/>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="search_btn">
                        <i class="icon-search icon-white"></i>&nbsp;Search
                    </button>
                    <button type="button" class="btn" id="export_btn">
                        <i class="icon-download icon-white"></i>&nbsp;Export to XLS
                    </button>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="org_uuids">Theater Organization</label>
                    <div id="checkbox-org_uuids" class="controls">
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.AYALA_MALLS }} {% if orgs.AYALA_MALLS|string in org_uuids %}checked{% endif %}> Ayala Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.ROCKWELL_MALLS }} {% if orgs.ROCKWELL_MALLS|string in org_uuids %}checked{% endif %}> Rockwell Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.GREENHILLS_MALLS }} {% if orgs.GREENHILLS_MALLS|string in org_uuids %}checked{% endif %}> Greenhills Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.SM_MALLS }} {% if orgs.SM_MALLS|string in org_uuids %}checked{% endif %}> SM Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.MEGAWORLD_MALLS }} {% if orgs.MEGAWORLD_MALLS|string in org_uuids %}checked{% endif %}> Megaworld Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.ROBINSONS_MALLS }} {% if orgs.ROBINSONS_MALLS|string in org_uuids %}checked{% endif %}> Robinsons Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.CINEMA76_MALLS }} {% if orgs.CINEMA76_MALLS|string in org_uuids %}checked{% endif %}> Cinema 76</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.GLOBE_EVENTS }} {% if orgs.GLOBE_EVENTS|string in org_uuids %}checked{% endif %}> Globe Events</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% if transactions %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="text-align: left;">ID</th>
                            <th style="text-align: center;">Reservation Code</th>
                            <th style="text-align: center;">Ticket Code</th>
                            <th style="text-align: center;">Cinema Partner</th>
                            <th style="text-align: center;">Email</th>
                            <th style="text-align: center;">Mobile</th>
                            <th style="text-align: center;">Payment Type</th>
                            <th style="text-align: center;">Total Amount</th>
                            <th style="text-align: center;">Transaction Date</th>
                            <th style="text-align: center;">Cancel Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td><small><a href="{{ url_for('.transaction_show', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id())) }}">{{ transaction.key.id() }}</a></small></td>
                                <td style="text-align: center;"><small>{{ transaction.reservation_reference }}</small></td>
                                <td style="text-align: center;"><small>{{ transaction.ticket.code }}</small></td>
                                <td style="text-align: center;"><small>
                                {% if 'theater_and_cinema_name' in transaction.ticket.extra %}
                                    {% if transaction.ticket.extra['theater_and_cinema_name'] %}
                                        {{ transaction.ticket.extra['theater_and_cinema_name'][0] }}
                                    {% endif %}
                                {% endif %}
                                </small></td>
                                <td style="text-align: center;"><small>{% if transaction.payment_info['email'] %}{{ transaction.payment_info['email'] }}{% else %}N/A{% endif %}</small></td>
                                <td style="text-align: center;"><small>
                                {% if transaction.payment_info['mobile'] %}
                                  {{ transaction.payment_info['mobile'] }}
                                {% else %}
                                  {% if transaction.user_info and 'mobile' in transaction.user_info %}
                                    {{ transaction.user_info['mobile'] }}
                                  {% else %}
                                    N/A
                                  {% endif %}
                                {% endif %}
                                </small></td>
                                <td style="text-align: center;"><small>{{ transaction.payment_type }}</small></td>
                                <td style="text-align: right;"><small>{{ transaction.ticket.extra['total_amount'] }}</small></td>
                                <td style="text-align: center;"><small>{% if transaction.date_created %}{{ transaction.date_created|datetimeformat(format='short') }}{% else %}<i>N/A</i></small>{% endif %}</td>
                                <td style="text-align: center;"><small>{% if transaction.date_cancelled %}{{ transaction.date_cancelled|datetimeformat(format='short') }}{% else %}<i>N/A</i></small>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pager">
                    {% if more %}
                        <li class="next"><a href="{{ url_for('.transactions_cancelled_cash', cursor=next_cursor.urlsafe(), transactions_from=transactions_from, transactions_to=transactions_to, platform=platform, payment_reference=payment_reference, reservation_reference=reservation_reference, theater_id=theater_id, org_uuids=org_uuids) }}">Next&rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next&rarr;</a></li>
                    {% endif %}
                </ul>
            {% else %}
                No Cancelled Cash Transactions
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='transactions.js') }}"></script>
{% endblock %}
