{% extends "base.html" %}
{% block title %} Show Transaction: {{ transaction.key.id() }} {% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Transaction</h1>
        <h2>{{ transaction.key.id() }}</h2>
        <div class="btn-group">
          {% if to_state_str(transaction.state) == 'TX_DONE' and email %}
          <a class="btn btn-small" href="{{ url_for('.transaction_email', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id())) }}">Send Ticket Details</a>
          {% endif %}
          <!-- {% if to_state_str(transaction.state) == 'TX_DONE' %} -->
          <!-- <a class="btn btn-small" href="{{ url_for('.transaction_refund', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id())) }}">Tag for Refund</a> -->
          <!-- {% endif %} -->
          {% if to_state_str(transaction.state) in ['TX_PREPARE_ERROR', 'TX_RESERVATION_ERROR', 'TX_PAYMENT_ERROR']%}
          <a class="btn btn-small" href="{{ url_for('.transaction_update', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id())) }}">Process Transaction</a>
          {% endif %}
        </div>
        {% if to_state_str(transaction.state) == 'TX_DONE' %}
        <br> <br>
        <div class="btn btn-small">
            <form class="form-refund" action="{{ url_for('.transaction_refund', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id())) }}">
            Reason for refund: <input type="text" name="refund_reason"><br>
            <input type="submit" class="btn btn-small" value="Tag for Refund">
            </form>
        </div>
        {% endif %}
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h3>Primary Details:</h3>
        ID: {{ transaction.key.id() }}<br />
        Transaction Date: {% if transaction.date_created %}{{ transaction.date_created|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}<br />
        {% if transaction.date_cancelled %}
        Refund Date: {{ transaction.date_cancelled|datetimeformat(format='short') }}<br />
        {% endif %}
        {% if transaction.refund_reason %}
        Refund Reason: {{ transaction.refund_reason }}<br />
        {% endif %}
        {% if transaction.refunded_by %}
        Refunded by: {{ transaction.refunded_by }}<br />
        {% endif %}
        State: {{ to_state_str(transaction.state) }}
        {% if override == '1' %}
          <form method="POST" class="state-change">
            <input type="hidden" name="pin" class="pin" >
            {% if to_state_str(transaction.state) == 'TX_CANCELLED' %}
            <button type="submit" class="btn btn-info btn-small">SET AS TX_DONE</button>
            {% else %}
            <button type="submit" class="btn btn-warning btn-small">SET AS TX_CANCELLED</button>
            {% endif %}
          </form>
        {% endif %}
        <br />
        Payment Reference Code: {{ transaction.payment_reference }}<br />
        Reservation Reference Code: {{ transaction.reservation_reference }}<br />
        Platform: {{ transaction.platform }}<br />
        Is Discounted: {{ transaction.is_discounted }}<br />
        Was ReQuery: {{ transaction.was_requery }}<br />

        <h3>Reservations:</h3>
        {% if transaction.reservations %}
          <ul class="unstyled">
            {% for i,r in enumerate(transaction.reservations) %}
              <li>
                Schedule ID: <a href="{{ url_for('.schedule_show', theater_id=encoded_theater_id(r.theater), schedule_id=r.schedule.id()) }}">{{ r.schedule }}</a><br />
                Theater ID: <a href="{{ url_for('.theater_show', theater_id=encoded_theater_id(r.theater))}}">{{ r.theater }}</a><br />
                Time: {{ r.time }}<br />
                Cinema: {{ r.cinema }}<br />
                Seat ID: {{ r.seat_id }}<br />
                {% if to_state_str(transaction.state) == 'TX_PREPARE_ERROR' or to_state_str(transaction.state) == 'TX_RESERVATION_ERROR' %}
                  <a class="btn btn-small" href="{{ url_for('.reservation_info_show', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id()), info_index=i) }}">Edit Reservation</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          Transaction has no reservations?
        {% endif %}
      </div>
      <div class="span6">
        <h3>Payment Information:</h3>
        {% if transaction.payment_info %}
          Payment Type: {{ transaction.payment_type }}<br />
          {% if transaction.payment_type == 'mpass' %}
            Username: {{ transaction.payment_info['username'] }}<br />
            Email: {{ transaction.payment_info['email'] }}<br />
          {% elif transaction.payment_type == 'credit-card' %}
            Cardholder: {{ transaction.payment_info['cardholder'] }}<br />
            Card Number: {{ mask_cc_numbers(transaction.payment_info['card_number']) }}<br />
            Address: {{ transaction.payment_info['address'] }}<br />
            Email: {{ transaction.payment_info['email'] }}<br />
          {% elif transaction.payment_type == 'globe-promo' %}
            Claim Code: {{ transaction.payment_info['promo_code'] }}<br />
            Full Name: {{ transaction.payment_info['full_name'] }}<br />
            Email: {{ transaction.payment_info['email'] }}<br />
            Mobile Number: {{ transaction.payment_info['mobile'] }}<br />
          {% elif transaction.payment_type in ['gcash','g-cash-app'] %}
            Email: {{ transaction.payment_info['email'] }}<br />
            Full Name: {{ transaction.payment_info['full_name'] }}<br />
            Mobile Number: {{ transaction.payment_info['mobile'] }}<br />
            GCash Account: {{ transaction.payment_info['gcash_account'] }}<br />
            OTP: {{ transaction.payment_info['otp'] }}<br />
          {% elif transaction.payment_type in ['grewards'] %}
            Email: {{ transaction.payment_info['email'] }}<br />
            Full Name: {{ transaction.payment_info['full_name'] }}<br />
            Mobile Number: {{ transaction.payment_info['mobile'] }}<br />
            GRewards Account: {{ transaction.payment_info['grewards_account'] }}<br />
            OTP: {{ transaction.payment_info['otp'] }}<br />
          {% elif transaction.payment_type == 'client-initiated' %}
            Email: {{ transaction.payment_info['email'] }}<br />
            Reference Parameter: {{ transaction.payment_info['reference-parameter'] }}<br />
            Form Method: {{ transaction.payment_info['form-method'] }}<br />
            Form Target: {{ transaction.payment_info['form-target'] }}<br />
            <h4>Form Parameters:</h4>
            {% for key in transaction.payment_info['form-parameters'] %}
              {{ key }}: {{ transaction.payment_info['form-parameters'][key] }}<br />
            {% endfor %}
          {% elif transaction.payment_type == 'paynamics-payment-initiated' %}
            Email: {{ transaction.payment_info['email'] }}<br />
            First Name: {{ transaction.payment_info['fname'] }}<br />
            Middle Name: {{ transaction.payment_info['mname'] }}<br />
            Last Name: {{ transaction.payment_info['lname'] }}<br />
            Address 1: {{ transaction.payment_info['address1'] }}<br />
            Address 2: {{ transaction.payment_info['address2'] }}<br />
            City: {{ transaction.payment_info['city'] }}<br />
            State: {{ transaction.payment_info['state'] }}<br />
            Country: {{ transaction.payment_info['country'] }}<br />
            Zip Code: {{ transaction.payment_info['zip'] }}<br />
            Phone Number: {{ transaction.payment_info['phone'] }}<br />
            Mobile Number: {{ transaction.payment_info['mobile'] }}<br />
            {% if 'token_info' in transaction.payment_info %}
              Token Info: {{ transaction.payment_info['token_info'] }}<br />
            {% endif %}
            Is Tokenized: 
            {% if 'token' in transaction.payment_info %}
              <span class="label label-success">True</span><br />
            {% else %}
               <span class="label label">False</span><br />
            {% endif %}
          {% elif transaction.payment_type == 'migs-payment-initiated' %}
            Email: {{ transaction.payment_info['email'] }}<br />
            First Name: {{ transaction.payment_info['fname'] }}<br />
            Middle Name: {{ transaction.payment_info['mname'] }}<br />
            Last Name: {{ transaction.payment_info['lname'] }}<br />
            Address 1: {{ transaction.payment_info['address1'] }}<br />
            Address 2: {{ transaction.payment_info['address2'] }}<br />
            City: {{ transaction.payment_info['city'] }}<br />
            State: {{ transaction.payment_info['state'] }}<br />
            Country: {{ transaction.payment_info['country'] }}<br />
            Zip Code: {{ transaction.payment_info['zip'] }}<br />
            Phone Number: {{ transaction.payment_info['phone'] }}<br />
            Mobile Number: {{ transaction.payment_info['mobile'] }}<br />
          {% elif transaction.payment_type == 'ipay88-payment-initiated' %}
            Name: {{ transaction.payment_info['first_name'] }} {{ transaction.payment_info['last_name'] }}<br />
            Email: {{ transaction.payment_info['email'] }}<br />
            Contact Number: {{ transaction.payment_info['contact_number'] }}<br />
          {% elif transaction.payment_type in ['bpi-cardholder-promo', 'citibank-cardholder-promo',
                'pnb-cardholder-promo', 'bdo-cardholder-promo', 'g-cash-cardholder-promo', 'metrobank-cardholder-promo', 'chinabank-cardholder-promo', 'unionbank-cardholder-promo', 'robinsonsbank-cardholder-promo'] %}
            {% if transaction.discount_info %}
              {% if 'payment_gateway' in transaction.discount_info %}
                {% if transaction.discount_info['payment_gateway'] == 'pesopay' %}
                  Email: {{ transaction.payment_info['email'] }}<br />
                  Reference Parameter: {{ transaction.payment_info['reference-parameter'] }}<br />
                  Form Method: {{ transaction.payment_info['form-method'] }}<br />
                  Form Target: {{ transaction.payment_info['form-target'] }}<br />
                  <h4>Form Parameters:</h4>
                  {% for key in transaction.payment_info['form-parameters'] %}
                    {{ key }}: {{ transaction.payment_info['form-parameters'][key] }}<br />
                  {% endfor %}
                {% elif transaction.discount_info['payment_gateway'] == 'paynamics' %}
                  Email: {{ transaction.payment_info['email'] }}<br />
                  First Name: {{ transaction.payment_info['fname'] }}<br />
                  Middle Name: {{ transaction.payment_info['mname'] }}<br />
                  Last Name: {{ transaction.payment_info['lname'] }}<br />
                  Address 1: {{ transaction.payment_info['address1'] }}<br />
                  Address 2: {{ transaction.payment_info['address2'] }}<br />
                  City: {{ transaction.payment_info['city'] }}<br />
                  State: {{ transaction.payment_info['state'] }}<br />
                  Country: {{ transaction.payment_info['country'] }}<br />
                  Zip Code: {{ transaction.payment_info['zip'] }}<br />
                  Phone Number: {{ transaction.payment_info['phone'] }}<br />
                  Mobile Number: {{ transaction.payment_info['mobile'] }}<br />
                {% elif transaction.discount_info['payment_gateway'] == 'migs' %}
                  Email: {{ transaction.payment_info['email'] }}<br />
                  First Name: {{ transaction.payment_info['fname'] }}<br />
                  Middle Name: {{ transaction.payment_info['mname'] }}<br />
                  Last Name: {{ transaction.payment_info['lname'] }}<br />
                  Address 1: {{ transaction.payment_info['address1'] }}<br />
                  Address 2: {{ transaction.payment_info['address2'] }}<br />
                  City: {{ transaction.payment_info['city'] }}<br />
                  State: {{ transaction.payment_info['state'] }}<br />
                  Country: {{ transaction.payment_info['country'] }}<br />
                  Zip Code: {{ transaction.payment_info['zip'] }}<br />
                  Phone Number: {{ transaction.payment_info['phone'] }}<br />
                  Mobile Number: {{ transaction.payment_info['mobile'] }}<br />
                {% elif transaction.discount_info['payment_gateway'] == 'ipay88' %}
                  Name: {{ transaction.payment_info['first_name'] }} {{ transaction.payment_info['last_name'] }}<br />
                  Email: {{ transaction.payment_info['email'] }}<br />
                  Contact Number: {{ transaction.payment_info['contact_number'] }}<br />
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% else %}
          Transaction has no payment info?
        {% endif %}

        <h3>Discount Information:</h3>
        {% if transaction.discount_info %}
          {% if 'claim_code' in transaction.discount_info %}
            Claim Code: {{ transaction.discount_info['claim_code'] }}<br />
            Claim Code Type: {{ transaction.discount_info['claim_code_type'] }}<br />
            User ID: {{ transaction.discount_info['user_id'] }}<br />
            Mobile Number: {{ transaction.discount_info['mobile_number'] }}<br />
            Payment Gateway: {{ transaction.discount_info['payment_gateway'] }}<br /><br />
            Original Total Amount: {{ transaction.discount_info['original_total_amount'] }}<br />
            Total Discount: {{ transaction.discount_info['total_discount'] }}<br />
            Total Amount: {{ transaction.discount_info['total_amount'] }}<br />
            Discount Type: {{ transaction.discount_info['discount_type'] }}<br />
          {% elif 'discount_code' in transaction.discount_info %}
            Discount Code: {{ transaction.discount_info['discount_code'] }}<br />
            User ID: {{ transaction.discount_info['user_id'] }}<br />
            User Type: {{ transaction.discount_info['user_type'] }}<br />
          {% else %}
            None
          {% endif %}
        {% else %}
          Transaction has no discount info?
        {% endif %}

        <h3>User Information:</h3>
        {% if transaction.user_info %}
          LBID: {{ transaction.user_info['lbid'] }}<br />
          UUID: {{ transaction.user_info['uuid'] }}<br />
          First Name: {{ transaction.user_info['first_name'] }}<br />
          Last Name: {{ transaction.user_info['last_name'] }}<br />
          Email: {{ transaction.user_info['email'] }}<br />
          Mobile: {{ transaction.user_info['mobile'] }}<br />
          {% if 'rush_id' in transaction.user_info %}
            Rush ID: {{ transaction.user_info['rush_id'] }}<br />
          {% endif %}
        {% else %}
          Transaction has no user info?
        {% endif %}

        {% if to_state_str(transaction.state) != 'TX_DONE' %}
          <h3>Debugging Information:</h3>
          {% if transaction.error_info %}
              Payment result code: {{ transaction.error_info['response_code'] }}<br />
              Payment result message: {{ transaction.error_info['response_message'] }}<br />
              Error message: {{ transaction.error_info['error_msg'] }}<br />
              {% if 'refund_response_code' in transaction.error_info %}
                  Refund result code: {{ transaction.error_info['refund_response_code'] }}<br />
              {% endif %}
              {% if 'refund_response_message' in transaction.error_info %}
                  Refund result message: {{ transaction.error_info['refund_response_message'] }}<br />
              {% endif %}
              {% if 'refund_response_id' in transaction.error_info %}
                  Refund result ID: {{ transaction.error_info['refund_response_id'] }}<br />
              {% endif %}
              {% if 'reversal_response_code' in transaction.error_info %}
                  Reversal result code: {{ transaction.error_info['reversal_response_code'] }}<br />
              {% endif %}
              {% if 'reversal_response_message' in transaction.error_info %}
                  Reversal result message: {{ transaction.error_info['reversal_response_message'] }}<br />
              {% endif %}
              {% if 'reversal_response_id' in transaction.error_info %}
                  Reversal result ID: {{ transaction.error_info['reversal_response_id'] }}<br />
              {% endif %}
          {% else %}
              {% if transaction.workspace %}
                {% if 'msg' in transaction.workspace %}
                  Message: {{ transaction.workspace['msg'] }}<br />
                {% endif %}
                {% if 'err_message' in transaction.workspace %}
                  Error Message: {{ transaction.workspace['err_message'] }}<br />
                {% endif %}
                {% if 'response_code' in transaction.workspace %}
                  Payment result code: {{ transaction.workspace['response_code'] }}<br />
                {% endif %}
                {% if 'response_message' in transaction.workspace %}
                  Payment result message: {{ transaction.workspace['response_message'] }}<br />
                {% endif %}
                {% if 'payment_status' in transaction.workspace %}
                  Payment result code: {{ transaction.workspace['payment_status'] }}<br />
                {% endif %}
                {% if 'payment_error_desc' in transaction.workspace %}
                  Payment result message: {{ transaction.workspace['payment_error_desc'] }}<br />
                {% endif %}
              {% else %}
                Transaction has no debugging info?
              {% endif %}
          {% endif %}
        {% endif %}
        <br />

      </div>
    </div>
    {% if transaction.ticket %}
    <div class="row-fluid">
      <div class="span12">
        <h3>Ticket Information:</h3>
        Reservation Reference: {{ transaction.ticket.ref }}<br />
        Ticket Code: {{ transaction.ticket.code }}<br />
        Date: {{ transaction.ticket.date }}<br />

        {% if 'original_total_amount' in transaction.ticket.extra %}
          Orignal Total Amount: {{ transaction.ticket.extra['original_total_amount'] }}<br />
        {% else %}
          Orignal Total Amount: {{ transaction.ticket.extra['total_amount'] }}<br />
        {% endif %}

        Total Amount: {{ transaction.ticket.extra['total_amount'] }}<br />

        {% if 'total_discount' in transaction.ticket.extra %}
          Total Discount: {{ transaction.ticket.extra['total_discount'] }}<br /><br />
        {% else %}
          Total Discount: 0.00<br /><br />
        {% endif %}

        {% if transaction.ticket.image %}
          Ticket: <img class="img-rounded" src="data:image/png;base64,{{ transaction.ticket.image.encode('base64') }}" />
        {% else %}
          {% if transaction.get_sorted_ticket_image_blob() %}
            <ul class="nav nav-tabs" role="tablist">
              {% for ticket_image_blob in transaction.get_sorted_ticket_image_blob() %}
                <li {% if loop.index == 1 %}class="active"{% endif %}>
                  <a href="#ticket_image-{{ loop.index }}" role="tab" data-toggle="tab">Ticket {{ loop.index }}</a>
                </li>
              {% endfor %}
            </ul>

            <div class="tab-content">
              {% for ticket_image_blob in transaction.get_sorted_ticket_image_blob() %}
                <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="ticket_image-{{ loop.index }}">
                  {% if ticket_image_blob.seat %}
                    Seat ID: {{ ticket_image_blob.seat }}<br />
                  {% endif %}
                  {% if ticket_image_blob.transaction_code %}
                    Seat Ticket Code: {{ ticket_image_blob.transaction_code }}<br />
                  {% endif %}<br />
                  <img class="img-rounded" src="data:image/png;base64,{{ ticket_image_blob.image.encode('base64') }}" />
                </div>
              {% endfor %}
            </div>
          {% else %}
            {% if transaction.ticket.barcode_list %}
              <ul class="nav nav-tabs" role="tablist">
                {% for barcode_image in transaction.ticket.barcode_list %}
                  <li {% if loop.index == 1 %}class="active"{% endif %}>
                    <a href="#barcode_image-{{ loop.index }}" role="tab" data-toggle="tab">Barcode {{ loop.index }}</a>
                  </li>
                {% endfor %}
              </ul>

              <div class="tab-content">
                {% for barcode_image in transaction.ticket.barcode_list %}
                  <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="barcode_image-{{ loop.index }}">
                    <img class="img-rounded" src="data:image/png;base64,{{ barcode_image.encode('base64') }}" />
                  </div>
                {% endfor %}
              </div>
            {% else %}
              Barcode: <img class="img-rounded" src="data:image/png;base64,{{ transaction.ticket.barcode.encode('base64') }}" />
            {% endif %}
            <br /><br />
            {% if transaction.ticket.qrcode_list %}
              <ul class="nav nav-tabs" role="tablist">
                {% for qrcode_image in transaction.ticket.qrcode_list %}
                  <li {% if loop.index == 1 %}class="active"{% endif %}>
                    <a href="#qrcode_image-{{ loop.index }}" role="tab" data-toggle="tab">QRCode {{ loop.index }}</a>
                  </li>
                {% endfor %}
              </ul>

              <div class="tab-content">
                {% for qrcode_image in transaction.ticket.qrcode_list %}
                  <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="qrcode_image-{{ loop.index }}">
                    <img class="img-rounded" src="data:image/png;base64,{{ qrcode_image.encode('base64') }}" />
                  </div>
                {% endfor %}
              </div>
            {% else %}
              {% if transaction.ticket.qrcode %}
                QRCode: <img class="img-rounded" src="data:image/png;base64,{{ transaction.ticket.qrcode.encode('base64') }}" />
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Enter Verification Code</h3>
      </div>
      <div class="modal-body" style="text-align: center">
        <input type="hidden" class="otp-response">
        <div class="input-append">
          <input class="span4 code" id="appendedInputButton" type="text" placeholder="Verification Code" autofocus>
          <button class="btn proceed-otp" type="button">Proceed</button>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div id="errorModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
        <h3>Invalid Verification Code.</h3>
      </div>
      <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <script type="text/javascript">
      $('.form-refund').submit(function(e){
        e.preventDefault();
        if(confirm("Are you sure you want to tag as refund this specific transaction ?")) {
          $(this).submit();
        } else {
          return false;
        }
      });

      $('.state-change').submit(function(e){
        e.preventDefault();
        $('#myModal').modal('show')
        $.ajax({
            url: '/api/3/otp_generate/',
            type: 'GET',
            headers: {
                'X-GMovies-DeviceId': '1111',
            },
            success: function (data) {
              $('.otp-response').val(data);
            }
        });
        // $.get("/api/3/otp_generate/", function(data){
        //   $('.otp-response').val(data);
        // });
      });

      $('.proceed-otp').click(function(e){
        var response = $('.otp-response').val();
        var code = $('.code').val();
        if(response == code) {
          $('.pin').val(code);
          $('.state-change').submit();
        } else {
          $('.pin').val('');
          $('.code').val('');
          $('#myModal').modal('hide');
          $('#errorModal').modal('show');
        }
      });
    </script>
{% endblock %}
