{% extends "base.html" %}
{% block title %} List All Transactions Done {% endblock %}
{% block extra_style %}
    <link href="{{url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>
            <a href="{{ url_for('.transactions_index') }}">Transactions</a>
            > Done
        </h1>
    </div>
    <div class="row-fluid page-header">
        <form class="form form-horizontal" method="get"
                action="{{ url_for('.transactions_done') }}">
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="transactions_from">Transactions From</label>
                    <div class="controls">
                        <input id="transactions_from" name="transactions_from" type="text"
                                {% if transactions_from %}value="{{ transactions_from }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="transactions_to">Transactions To</label>
                    <div class="controls">
                        <input id="transactions_to" name="transactions_to" type="text"
                                {% if transactions_to %}value="{{ transactions_to }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group" style="display: none;">
                    <label class="control-label" for="theater_id">Theater</label>
                    <div class="controls">
                        <select id="theater_id" name="theater_id">
                            <option value="" {% if theater_id == '' %}selected="selected"{% endif %}></option>
                            {% for theater in theaters %}
                                <option value="{{ theater.key.id() }}" {% if theater.key.id() == theater_id %}selected="selected"{% endif %}>{{ theater.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="platform">Platform</label>
                    <div class="controls">
                        <select id="platform" name="platform">
                            <option value="" {% if platform == '' %}selected="selected"{% endif %}></option>
                            <option value="android" {% if platform == 'android' %}selected="selected"{% endif %}>Android</option>
                            <option value="ios" {% if platform == 'ios' %}selected="selected"{% endif %}>iOS</option>
                            <option value="website" {% if platform == 'website' %}selected="selected"{% endif %}>Website</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="payment_reference">Payment Ref Code</label>
                    <div class="controls">
                        <input id="payment_reference" name="payment_reference" type="text"
                                {% if payment_reference %}value="{{ payment_reference }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="reservation_reference">Reservation Ref Code</label>
                    <div class="controls">
                        <input id="reservation_reference" name="reservation_reference" type="text"
                                {% if reservation_reference %}value="{{ reservation_reference }}" {% endif %}/>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" id="search_btn">
                        <i class="icon-search icon-white"></i>&nbsp;Search
                    </button>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="org_uuids">Theater Organization</label>
                    <div id="checkbox-org_uuids" class="controls">
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.AYALA_MALLS }} {% if orgs.AYALA_MALLS|string in org_uuids %}checked{% endif %}> Ayala Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.ROCKWELL_MALLS }} {% if orgs.ROCKWELL_MALLS|string in org_uuids %}checked{% endif %}> Rockwell Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.GREENHILLS_MALLS }} {% if orgs.GREENHILLS_MALLS|string in org_uuids %}checked{% endif %}> Greenhills Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.SM_MALLS }} {% if orgs.SM_MALLS|string in org_uuids %}checked{% endif %}> SM Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.MEGAWORLD_MALLS }} {% if orgs.MEGAWORLD_MALLS|string in org_uuids %}checked{% endif %}> Megaworld Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.ROBINSONS_MALLS }} {% if orgs.ROBINSONS_MALLS|string in org_uuids %}checked{% endif %}> Robinsons Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.CINEMA76_MALLS }} {% if orgs.CINEMA76_MALLS|string in org_uuids %}checked{% endif %}> Cinema 76</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.GLOBE_EVENTS }} {% if orgs.GLOBE_EVENTS|string in org_uuids %}checked{% endif %}> Globe Events</label>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="payment_type">Payment Type</label>
                    <div class="controls">
                        <label><input name="payment_type" type="checkbox" value="mpass" {% if 'mpass' in payment_type %}checked{% endif %}> MPass</label>
                        <label><input name="payment_type" type="checkbox" value="globe-promo" {% if 'globe-promo' in payment_type %}checked{% endif %}> Claim Code</label>
                        <label><input name="payment_type" type="checkbox" value="gcash" {% if 'gcash' in payment_type %}checked{% endif %}> GCash</label>
                        <label><input name="payment_type" type="checkbox" value="g-cash-app" {% if 'g-cash-app' in payment_type %}checked{% endif %}> GCash App</label>
                        <label><input name="payment_type" type="checkbox" value="cash" {% if 'cash' in payment_type %}checked{% endif %}> Cash</label>
                        <label><input name="payment_type" type="checkbox" value="client-initiated" {% if 'client-initiated' in payment_type %}checked{% endif %}> Credit-Card (PesoPay)</label>
                        <label><input name="payment_type" type="checkbox" value="paynamics-payment-initiated" {% if 'paynamics-payment-initiated' in payment_type %}checked{% endif %}> Credit-Card (Paynamics)</label>
                        <label><input name="payment_type" type="checkbox" value="migs-payment-initiated" {% if 'migs-payment-initiated' in payment_type %}checked{% endif %}> Credit-Card (MIGS)</label>
                        <label><input name="payment_type" type="checkbox" value="ipay88-payment-initiated" {% if 'ipay88-payment-initiated' in payment_type %}checked{% endif %}> Credit-Card (iPay88)</label>
                        <label><input name="payment_type" type="checkbox" value="bpi-cardholder-promo" {% if 'bpi-cardholder-promo' in payment_type %}checked{% endif %}> BPI Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="citibank-cardholder-promo" {% if 'citibank-cardholder-promo' in payment_type %}checked{% endif %}> CitiBank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="pnb-cardholder-promo" {% if 'pnb-cardholder-promo' in payment_type %}checked{% endif %}> PNB Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="bdo-cardholder-promo" {% if 'bdo-cardholder-promo' in payment_type %}checked{% endif %}> BDO Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="g-cash-cardholder-promo" {% if 'g-cash-cardholder-promo' in payment_type %}checked{% endif %}> GCash Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="metrobank-cardholder-promo" {% if 'metrobank-cardholder-promo' in payment_type %}checked{% endif %}> Metro Bank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="chinabank-cardholder-promo" {% if 'chinabank-cardholder-promo' in payment_type %}checked{% endif %}> China Bank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="unionbank-cardholder-promo" {% if 'unionbank-cardholder-promo' in payment_type %}checked{% endif %}> Union Bank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="robinsonsbank-cardholder-promo" {% if 'robinsonsbank-cardholder-promo' in payment_type %}checked{% endif %}> Robinsons Bank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="grewards" {% if 'grewards' in payment_type %}checked{% endif %}> GRewards</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% if transactions %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="text-align: left;">ID</th>
                            <th style="text-align: center;">Transaction Date</th>
                            <th style="text-align: center;">Reservation Code</th>
                            <th style="text-align: center;">Movie Title</th>
                            <th style="text-align: center;">Email</th>
                            <th style="text-align: center;">Mobile</th>
                            <th style="text-align: center;">Showing Date</th>
                            <th style="text-align: center;">Payment Type</th>
                            <th style="text-align: center;">Platform</th>
                            <th style="text-align: center;">Claim Code</th>
                            <th style="text-align: center;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td><small><a href="{{ url_for('.transaction_show', transaction_id=encode_id_paths(transaction.key.parent().id(), transaction.key.id())) }}">{{ transaction.key.id() }}</a></small></td>
                                <td style="text-align: center;"><small>{% if transaction.date_created %}{{ transaction.date_created|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</small></td>
                                <td style="text-align: center;"><small>{{ transaction.reservation_reference }}</small></td>
                                <td style="text-align: center;"><small>
                                    {% if transaction.ticket.extra %}
                                        {% if 'movie_canonical_title' in transaction.ticket.extra %}
                                            {% if transaction.ticket.extra['movie_canonical_title'] %}
                                                {{ transaction.ticket.extra['movie_canonical_title'] }}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </small></td>
                                <td style="text-align: center;"><small>{% if transaction.payment_info['email'] %}{{ transaction.payment_info['email'] }}{% else %}N/A{% endif %}</small></td>
                                <td style="text-align: center;"><small>
                                {% if transaction.payment_info['mobile'] %}
                                  {{ transaction.payment_info['mobile'] }}
                                {% else %}
                                  {% if transaction.user_info and 'mobile' in transaction.user_info %}
                                    {{ transaction.user_info['mobile'] }}
                                  {% else %}
                                    N/A
                                  {% endif %}
                                {% endif %}
                                </small></td>
                                <td style="text-align: center;">
                                    <small>
                                        {% if transaction.ticket.date %}
                                            {{ transaction.ticket.date|dateformat(format='short') }}, {{ transaction.reservations[0].time|timeformat(format='short') }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </small>
                                </td>
                                <td style="text-align: center;"><small>{{ transaction.payment_type }}</small></td>
                                <td style="text-align: center;"><small>{{ transaction.platform }}</small></td>
                                <td style="text-align: center;">
                                    <small>
                                    {% if transaction.payment_info['promo_code'] %}
                                    {{ transaction.payment_info['promo_code'] }}
                                    {% else %}
                                    N/A
                                    {% endif %}
                                    </small>
                                </td>
                                <td style="text-align: center;">
                                    <small>
                                        {% if transaction.status %}
                                            {{ transaction.status }}
                                        {% else %}
                                            unclaimed
                                        {% endif %}
                                    </small>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pager">
                    {% if more %}
                        <li class="next"><a href="{{ url_for('.transactions_done', cursor=next_cursor.urlsafe(), transactions_from=transactions_from, transactions_to=transactions_to, platform=platform, payment_reference=payment_reference, reservation_reference=reservation_reference, theater_id=theater_id, org_uuids=org_uuids, payment_type=payment_type) }}">Next&rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next&rarr;</a></li>
                    {% endif %}
                </ul>
            {% else %}
                No Completed Transactions
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='transactions.js') }}"></script>
{% endblock %}
