{% extends "base.html" %}
{% block title %}Sales Reports{% endblock %}
{% block extra_style %}
    <link href="{{url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <style type="text/css">
        .isloading-wrapper .isloading-right {
            margin-left: 10px;
        }
        .isloading-overlay {
            position: relative;
            text-align: center;
        }
        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 275px;
            z-index: 9000;
        }
    </style>
{% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>
            <a href="{{ url_for('.transactions_index') }}">Transactions</a>
            > Sales Reports
        </h1>
    </div>
    <div class="row-fluid page-header">
        <form class="form form-horizontal" method="get" id="transactions_sales_reports_form"
                action="{{ url_for('.transactions_sales_reports') }}">
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="transactions_from">Transactions From</label>
                    <div class="controls">
                        <input id="transactions_from" name="transactions_from" type="text"
                                {% if transactions_from %}value="{{ transactions_from }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="transactions_to">Transactions To</label>
                    <div class="controls">
                        <input id="transactions_to" name="transactions_to" type="text"
                                {% if transactions_to %}value="{{ transactions_to }}" {% endif %}/>
                    </div>
                </div>
                <div class="control-group" style="display: none;">
                    <label class="control-label" for="theater_id">Theater</label>
                    <div class="controls">
                        <select id="theater_id" name="theater_id">
                            <option value="" {% if theater_id == '' %}selected="selected"{% endif %}></option>
                            {% for theater in theaters %}
                                <option value="{{ theater.key.id() }}" {% if theater.key.id() == theater_id %}selected="selected"{% endif %}>{{ theater.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="platform">Platform</label>
                    <div class="controls">
                        <select id="platform" name="platform">
                            <option value="" {% if platform == '' %}selected="selected"{% endif %}></option>
                            <option value="android" {% if platform == 'android' %}selected="selected"{% endif %}>Android</option>
                            <option value="ios" {% if platform == 'ios' %}selected="selected"{% endif %}>iOS</option>
                            <option value="website" {% if platform == 'website' %}selected="selected"{% endif %}>Website</option>
                        </select>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="search_btn">
                        <i class="icon-search icon-white"></i>&nbsp;Search
                    </button>
                    <button type="button" class="btn" id="export_btn">
                        <i class="icon-download icon-white"></i>&nbsp;Export to XLS
                    </button>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="org_uuids">Theater Organization</label>
                    <div id="checkbox-org_uuids" class="controls">
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.AYALA_MALLS }} {% if orgs.AYALA_MALLS|string in org_uuids %}checked{% endif %}> Ayala Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.ROCKWELL_MALLS }} {% if orgs.ROCKWELL_MALLS|string in org_uuids %}checked{% endif %}> Rockwell Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.GREENHILLS_MALLS }} {% if orgs.GREENHILLS_MALLS|string in org_uuids %}checked{% endif %}> Greenhills Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.SM_MALLS }} {% if orgs.SM_MALLS|string in org_uuids %}checked{% endif %}> SM Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.MEGAWORLD_MALLS }} {% if orgs.MEGAWORLD_MALLS|string in org_uuids %}checked{% endif %}> Megaworld Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.ROBINSONS_MALLS }} {% if orgs.ROBINSONS_MALLS|string in org_uuids %}checked{% endif %}> Robinsons Malls</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.CINEMA76_MALLS }} {% if orgs.CINEMA76_MALLS|string in org_uuids %}checked{% endif %}> Cinema 76</label>
                        <label><input name="org_uuids" type="checkbox" value={{ orgs.GLOBE_EVENTS }} {% if orgs.GLOBE_EVENTS|string in org_uuids %}checked{% endif %}> Globe Events</label>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="payment_type">Payment Type</label>
                    <div class="controls">
                        <label><input name="payment_type" type="checkbox" value="mpass" {% if 'mpass' in payment_type %}checked{% endif %}> MPass</label>
                        <label><input name="payment_type" type="checkbox" value="globe-promo" {% if 'globe-promo' in payment_type %}checked{% endif %}> Claim Code</label>
                        <label><input name="payment_type" type="checkbox" value="gcash" {% if 'gcash' in payment_type %}checked{% endif %}> GCash</label>
                        <label><input name="payment_type" type="checkbox" value="g-cash-app" {% if 'g-cash-app' in payment_type %}checked{% endif %}> GCash App</label>
                        <label><input name="payment_type" type="checkbox" value="cash" {% if 'cash' in payment_type %}checked{% endif %}> Cash</label>
                        <label><input name="payment_type" type="checkbox" value="client-initiated" {% if 'client-initiated' in payment_type %}checked{% endif %}> Credit-Card (PesoPay)</label>
                        <label><input name="payment_type" type="checkbox" value="paynamics-payment-initiated" {% if 'paynamics-payment-initiated' in payment_type %}checked{% endif %}> Credit-Card (Paynamics)</label>
                        <label><input name="payment_type" type="checkbox" value="migs-payment-initiated" {% if 'migs-payment-initiated' in payment_type %}checked{% endif %}> Credit-Card (MIGS)</label>
                        <label><input name="payment_type" type="checkbox" value="ipay88-payment-initiated" {% if 'ipay88-payment-initiated' in payment_type %}checked{% endif %}> Credit-Card (iPay88)</label>
                        <label><input name="payment_type" type="checkbox" value="bpi-cardholder-promo" {% if 'bpi-cardholder-promo' in payment_type %}checked{% endif %}> BPI Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="citibank-cardholder-promo" {% if 'citibank-cardholder-promo' in payment_type %}checked{% endif %}> CitiBank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="pnb-cardholder-promo" {% if 'pnb-cardholder-promo' in payment_type %}checked{% endif %}> PNB Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="bdo-cardholder-promo" {% if 'bdo-cardholder-promo' in payment_type %}checked{% endif %}> BDO Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="g-cash-cardholder-promo" {% if 'g-cash-cardholder-promo' in payment_type %}checked{% endif %}> GCash Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="metrobank-cardholder-promo" {% if 'metrobank-cardholder-promo' in payment_type %}checked{% endif %}> Metro Bank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="chinabank-cardholder-promo" {% if 'chinabank-cardholder-promo' in payment_type %}checked{% endif %}> China Bank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="unionbank-cardholder-promo" {% if 'unionbank-cardholder-promo' in payment_type %}checked{% endif %}> Union Bank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="robinsonsbank-cardholder-promo" {% if 'robinsonsbank-cardholder-promo' in payment_type %}checked{% endif %}> Robinsons Bank Cardholder Promo</label>
                        <label><input name="payment_type" type="checkbox" value="grewards" {% if 'grewards' in payment_type %}checked{% endif %}> GRewards</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% if transactions_dates %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Purchased Date</th>
                            <th style="text-align: center;">Transactions</th>
                            <th style="text-align: center;">Tickets Sold</th>
                            <th style="text-align: center;">Net Sales</th>
                            <th style="text-align: center;">Net Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchased_date in transactions_dates %}
                            {% if purchased_date in transactions %}
                                <tr>
                                    <td style="text-align: center;">{{ purchased_date }}</td>
                                    <td style="text-align: right;">{{ transactions[purchased_date]['transactions'] }}</td>
                                    <td style="text-align: right;">{{ transactions[purchased_date]['seats'] }}</td>
                                    <td style="text-align: right;">{{ parse_float_to_string(transactions[purchased_date]['amount']) }}</td>
                                    <td style="text-align: right;">{{ parse_float_to_string(transactions[purchased_date]['net_revenue']) }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><strong>Total:</strong></td>
                            <td style="text-align: right;"><strong>{{ total_transactions }}</strong></td>
                            <td style="text-align: right;"><strong>{{ total_tickets_sold }}</strong></td>
                            <td style="text-align: right;"><strong>{{ parse_float_to_string(total_amount) }}</strong></td>
                            <td style="text-align: right;"><strong>{{ parse_float_to_string(total_net_revenue) }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                No Completed Transactions
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.isloading.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='transactions.js') }}"></script>
{% endblock %}
