{% extends "base.html" %}
{% block title %} List All Transactions {% endblock %}
{% block container_content %}
    <div class="page-header">
        <h1>Transactions</h1>
        <div class="btn-group">
          <a class="btn btn-small" href="{{ url_for('.transactions_sales_reports') }}">Sales Reports</a>
          <a class="btn btn-small" href="{{ url_for('.transactions_reports') }}">Transaction Reports</a>
          <a class="btn btn-small" href="{{ url_for('.transactions_done') }}">Done</a>
          <a class="btn btn-small" href="{{ url_for('.transactions_cancelled') }}">Reaped/Cancelled</a>
          <a class="btn btn-small" href="{{ url_for('.transactions_refunded') }}">Refunded</a>
          <a class="btn btn-small" href="{{ url_for('.transactions_cancelled_cash') }}">Cancelled-Cash</a>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row-fluid">
      <div class="span8">
        <h3>Active</h3>
        {% if transactions %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Payment Type</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            {% for t in transactions %}
            <tr>
              <td><a href="{{ url_for('.transaction_show', transaction_id=encode_id_paths(t.key.parent().id(), t.key.id())) }}"><small>{{ t.key.id() }}</small></a></td>
              <td>{% if t.date_created %}{{ t.date_created|timedeltaformat }} ago{% else %}<i>N/A</i>{% endif %}</td>
              <td>{{ t.payment_type }}</td>
              <td><span class="label {% if t.state == 7 or t.state == 5 or t.state == 3 or t.state == 9 or t.state == 8 or t.state == 10 %}label-info{% elif t.state == 13 or t.state == 12 or t.state == 11 %}label-error{% endif %}"><small>{{ to_state_str(t.state) }}</small></span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pager">
          {% if t_more %}
          <li class="next"><a href="{{ url_for('.transactions_index', t_c=next_t_c.urlsafe(), r_c=r_c.urlsafe(), d_c=d_c.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
          <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
        {% else %}
        No Active Transactions
        {% endif %}
      </div>
      <div class="span4">
        <h3>Reaped/Cancelled</h3>
        {% if reaped %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for r_t in reaped %}
            <tr>
              <td><a href="{{ url_for('.transaction_show', transaction_id=encode_id_paths(r_t.key.parent().id(), r_t.key.id())) }}"><small>{{ r_t.key.id() }}</small></a></td>
              <td>{% if r_t.was_reaped %}<span class="label label-error"><small>Reaped</small></span>{% else %}&nbsp;{% endif %}
            </tr>
            {% endfor %}
          </tbody>

        </table>
        <ul class="pager">
          {% if r_more %}
          <li class="next"><a href="{{ url_for('.transactions_index', t_c=t_c.urlsafe(), r_c=next_r_c.urlsafe(), d_c=d_c.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
          <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
        {% else %}
        No Reaped Transactions
        {% endif %}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <h3>Done</h3>
        {% if done %}
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date Created</th>
              <th>Payment Ref Code</th>
              <th>Reservation Ref Code</th>
              <th>Payment Type</th>
              <th>Ticket Date</th>
            </tr>
          </thead>
          <tbody>
            {% for d in done %}
            <tr>
              <td><a href="{{ url_for('.transaction_show', transaction_id=encode_id_paths(d.key.parent().id(), d.key.id())) }}"><small>{{ d.key.id() }}</small></a></td>
              <td>{% if d.date_created %}{{ d.date_created|datetimeformat(format='short') }}{% else %}<i>N/A</i>{% endif %}</td>
              <td>{{ d.payment_reference }}</td>
              <td>{{ d.reservation_reference }}</td>
              <td>{{ d.payment_type }}</td>
              <td>{% if d.ticket.date %}{{ d.ticket.date|dateformat(format='short') }}{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
        <ul class="pager">
          {% if d_more %}
          <li class="next"><a href="{{ url_for('.transactions_index', t_c=t_c.urlsafe(), r_c=r_c.urlsafe(), d_c=next_d_c.urlsafe()) }}">Next&rarr;</a></li>
          {% else %}
          <li class="next disabled"><a href="#">Next&rarr;</a></li>
          {% endif %}
        </ul>
        {% else %}
        No Completed Transactions
        {% endif %}
      </div>
    </div>
{% endblock %}
