{% extends "base.html" %}
{% block title %} Client Initiated Payment Settings {% endblock %}
{% block container_content %}
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <uls>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="page-header">
        <h3>Client Initiated Payment Settings</h3>
    </div>
    <div>
        <uls>
            {% for set in tx_settings %}
                <li><a href="{{ url_for('.edit_tx_settings', key=set.key.urlsafe()) }}">{{ set.get_descriptor() }}</a></li>
            {% endfor %}
    </div>
    <a href="{{ url_for('.theater_new') }}">Add Theater</a>
    <br>
    <a href="{{ url_for('.theater_upload') }}">Upload File</a>
{% endblock %}
